<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.3.js">//</script>

<script src="/files/handlebars-v3.0.3.js">//</script>
<script>
var data = JSON.parse('<TMPL_VAR data>');
</script>
<script id="entry-template" type="text/x-handlebars-template">
<TMPL_VAR hb>
</script>
<script>
$().ready(function(){
  var source   = $("#entry-template").html();
  var template = Handlebars.compile(source);
  var html    = template(data);
  $('body').html(html);
});
</script>
</head>
<body>
</body>
</html>
