a.entrylink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a.entrylink:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.fill {
  color: gray;
  }

#toggle_button {
  position: absolute;
  right: 20px;
  top: 10px;
}

table.sortable  th {
	border-width: 0px 1px 1px 1px;
	background-color: #ccc;
  font-weight: normal;
}
a img {
	border: 0;
}
table.sortable th a {
  text-decoration: none;
}
#wait {
  display:none;
  position:absolute;
  z-index:3;
  left:35%;
  top:100px;
  background-color: black;
  color: white;
}
.search_row {
  border: 1px dotted green;
  text-align: right;
}

