body {
  margin: 0.5em;
  font-family: sans;
  background: #90ee90;
}
textarea {
  font-size: 125%;
  font-family: serif;
}
#pathinfo {
  font-weight: bold;
  color: purple;
}

#hw {
	color: #ff0000;
  font-weight: bold;
}
.word {
  font-size: 110%;
}

.freq {
  width: 3em;
}

.prelim {
  width: 18em;
}

.heartland {
  width: 18em;
}
.heartland_gb {
  width: 20em;
}

th {
  text-align: right;
  margin-right: 0.2em;
}


label.left {
  text-align: left;
}

input.sense_nr {
  width: 3em;
}
input.sense_cat {
  width: 30em;
}
textarea.sense_ref {
  width: 700px;
  height: 3em;
}
input.sense_other {
  width: 30em;
}

button {
  /*max-height: 28px;*/
  min-width: 20px;
}

textarea.cit, textarea.ex, textarea.igi, textarea.arch, textarea.med, textarea.other_info, textarea.ppkk, textarea.dafn, textarea.comment {
  /*width: 45em;*/
  width: 650px;
  height: 2em;
}


tr.sense {
  border: 2px dotted black;
}
table {
  border-collapse: collapse
}
th {
  vertical-align: top;
}
div.textarea_div {
  float: left;
  /*width: 40em;*/
  width: 551px;
}
div.textarea_updiv {
  border: 1px solid black;
  padding: 3px;
  width: 750px;
  /*width: 43em;*/
  height: 3em;
}

img.button_img {
  cursor: pointer;
  border: 1px solid black;
}

span.varinfo {
  padding-left: 15px;
  display: inline-block;
}

.quarantine {
  background-color: #E7ACCF;
}
.archtype {
  width: 8em;
}
.archselect {
  width: 1em;
}
.explselect {
  width: 1em;
}
.explcat {
  width: 8em;
}

hr.divider {
  height: 5px;
  color: black;
  background-color: black;
}
#info_saving, #info_saved {
  color: red;
}
