@charset "utf-8";
/* CSS Document */

.search input[type="checkbox"] {
	position:absolute;
    opacity:0;
	}
.search input[type="checkbox"] + label::before {
    content:"";	
    display:inline-block;
    width:13px;
    height:13px;
    margin:5px;
	vertical-align:middle;
    background:url("../images/checkbox.png") no-repeat 0 0;
}

.search input[type="checkbox"]:checked + label::before {
    background-position:0 -13px;
}