@charset "utf-8";

/*
Barevný akcent
#EB5F39

Základní písmo "Cambria"
Doplňkové písmo "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
*/

/**** reset ****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/**** fonty ****/
@font-face {
    font-family: 'Cambria';
    src: url('Cambria.eot');
    src: url('Cambria.eot?#iefix') format('embedded-opentype'),
         url('Cambria.woff') format('woff'),
         url('Cambria.ttf') format('truetype'),
         url('Cambria.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria-Bold';
    src: url('Cambria-Bold.eot');
    src: url('Cambria-Bold.eot?#iefix') format('embedded-opentype'),
         url('Cambria-Bold.woff') format('woff'),
         url('Cambria-Bold.ttf') format('truetype'),
         url('Cambria-Bold.svg#Cambria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria-BoldItalic';
    src: url('Cambria-BoldItalic.eot');
    src: url('Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Cambria-BoldItalic.woff') format('woff'),
         url('Cambria-BoldItalic.ttf') format('truetype'),
         url('Cambria-BoldItalic.svg#Cambria-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria-Italic';
    src: url('Cambria-Italic.eot');
    src: url('Cambria-Italic.eot?#iefix') format('embedded-opentype'),
         url('Cambria-Italic.woff') format('woff'),
         url('Cambria-Italic.ttf') format('truetype'),
         url('Cambria-Italic.svg#Cambria-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**** all ****/
a{
	text-decoration:none;
	}

body {
	font-size: 100%;
	width:auto;
	height:auto;
	background: #ffffff;
	font-family: 'Cambria';
	font-size:13px;
	}

.line {
	width:100%;
	height:2px;
	display:block;
	background:#EB5F39;
	}

.clear-fix {
    clear: both;
	}
.display-none {
	display:none
	}

/**** záhlaví ****/
.head-wrap {
	width:900px;
	margin-left:60px;
	}
.logo {
	padding-top:30px;
	padding-bottom:10px;
	font-family: 'Cambria';
	font-size:39px;
	line-height:33px;
	float:left;
	}

/* logo */
#line-1 {
	color:#000000;
	}
#line-2 {
	color:#EB5F39;
	font-family: 'Cambria-Bold';
	margin-left:110px
	}
#line-3 {
	color:#000000;
	margin-left:35px
	}
	
/* hledání */
.search {
	padding-top:30px;
	float:right;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
.search label {
    cursor:pointer;
}
.search label span{
	display:inline-block;
	width:6px;
}
.search-text-input {
	display:block;
	width:270px;
	text-align:right;
	padding:5px;
	margin-top:35px;
	margin-bottom:5px;
	border:solid 1px #EB5F39;
	}
	
/**** top menu ****/
.menu-wrap {
	width:100%;
	margin:0 auto;
	background-color:#EB5F39;
	}
.black-box {
	width:15px;
	height:44px;
	display:block;
	background-color:#000000;
	float:left;
	border-right:solid 10px #FFFFFF
	}
.menu-wrap ul {
	width:850px;
	display:block;
	padding:12px 0px 12px 60px;
	}
.menu-wrap li {
	display:inline;
	padding-right:15px
	}

.menu-wrap a {
	font-family: 'Cambria-Bold';
	color:#FFFFFF;
	font-size:17px;
	}
.menu-wrap a:hover,
.menu-wrap .active {
	color:#000000;
	}

/**** page ****/
.page-wrap {
	width:900px;
	min-height:200px;
	margin-left:60px;
	padding-bottom:20px
	}
.page h1{
	font-family: 'Cambria-Bold';
	font-size:28px;
	color:#EB5F39;
	margin-top:10px;
	}
.page p{
	text-align:justify;
	margin-bottom:5px;
	line-height:18px
	}
.page strong{
	font-family: 'Cambria-Bold';
	}
.page p span{
	color:#EB5F39;
	font-family: 'Cambria-Bold';
	}
.help {
	width:550px;
	text-align:justify;
	margin-top:10px;
	line-height:18px
	}
.help strong{
	font-family: 'Cambria-Bold';
	}
.help ul{
	list-style-type: disc;
	margin-bottom:10px;
	}
.help span{
	color:#EB5F39;
	font-family: 'Cambria-Bold';
	font-size:18px;
	padding-right: 5px;
	}

.page table{
	font-family: 'Cambria';
	line-height:18px
	}
.page table em{
	font-family: 'Cambria-italic';
	}
.page table tr{
	height:15px
	}
.page table tr:hover{
	background-color:#FBE5DF
	}

/* filtr */
.filtr-wrap {
	margin-top:7px;
	margin-bottom:7px
	}
.filtr-wrap h2{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#EB5F39;
	font-size:14px;
	font-weight:bold;
	}
.cell-left {
	width:110px;
	}
.cell-right {
	width:790px;
	}
.table-line {
	width:100%;
	height:1px;
	display:block;
	background:#EB5F39;
	margin: 7px 0 5px 0;
	}

.filtr-wrap ul, .filtr-wrap li{
	list-style:none;
	display:inline-block;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:20px

	}
.filtr-wrap a{
	color:#000000;
	padding: 4px;
	}
.filtr-wrap a:hover,
.filtr-wrap .active{
	color: #541808 !important;
	background: #FCE9E4;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
.filtr-wrap span{
	display:inline-block;
	text-align:center;
	width:5px;
	color: #EB5F39;
	}
.color-link a{
	color: #EB5F39 !important;
	font-size:13px;
	padding-right:5px;
	}
a.ne-publish {
  color: #CCC1BE !important;
}

/* hesla */
.hesla-wrap {
	width:170px;
	height:550px;
	overflow:auto;
	margin-top:15px;
	display:block;
	float:left;
	position:relative;
	}
.hesla-wrap li{
	margin-bottom:10px
	}
.hesla-wrap a{
	color:#000000;
	font-family: 'Cambria-Bold';
	font-size:15px;
	line-height:17px;
  cursor: hand;
	}
.hesla-wrap a:hover,
.hesla-wrap .active{
	color:#EB5F39;
	}

/* definice */
.definice-wrap {
	display:block;
  float: right;
	height:550px;
	width:720px;
	margin-top:15px;
	font-size:14px;
	}
.definice-wrap h1{
	color:#000000;
	font-family: 'Cambria';
	font-size:28px;
	}
.definice-wrap h2{
	color: #EB5F39;
	font-family: 'Cambria-Bold';
	font-size:25px;
	}
.definice-wrap h2 em.small {
  font-size: 60%;
  }
.definice-wrap h3{
	font-family: 'Cambria-Bold';
	margin-top:20px;
	}
.definice-wrap .box{
	display:block;
	border:#EB5F39 1px solid;
	padding:10px;
	margin:10px 0px 20px 0px;
	}

.definice-wrap p{
	}
.definice-wrap .definice{
	font-family: 'Cambria-BoldItalic';
	font-size:16px
	}
.definice-wrap .kategorie{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #EB5F39;
	font-size:13px;
	}
	
.definice-wrap .box ul{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #EB5F39;
	/*font-size:13px;*/
	margin-top:10px
	}
.definice-wrap ul{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #EB5F39;
	margin-top:10px
	}
/*ul.kolokace {
  color: black;
  }*/
ul strong {
  font-weight: bold;
  }
.definice-wrap a{
  cursor: hand;
  }
.definice-wrap a:hover{
	color:#EB5F39;
  font-weight: bold;
  }

.definice-wrap p.enc_example {
  margin-top: 1em;
  }
	
.odkazy li:before, .kolokace a:before {
	content: "→ ";
	color:#000000;
	}
.odkazy li {
  color: #EB5F39;
  }
.kolokace li {
  color: #EB5F39;
}

/* abeceda */
.abeceda .aktiv{
	display:inline-block;
	border:#EB5F39 solid 1px;
	color: #EB5F39;
	width:80px;
	height:60px;
	padding-top:20px;
	text-align:center;
	font-family: 'Cambria';
	font-size:35px;
	margin-right:18px;
	margin-bottom:22px
	}
.abeceda .aktiv:hover{
	border:#EB5F39 solid 1px;
	color:#FFFFFF;
	background-color: #EB5F39;
	}
.abeceda .ne-aktiv{
	display:inline-block;
	border:#FCEDE9 solid 1px;
	color: #FCEDE9;
	width:80px;
	height:60px;
	padding-top:20px;
	text-align:center;
	font-family: 'Cambria';
	font-size:35px;
	margin-right:18px;
	margin-bottom:22px
	}	

/* nenalezeno */
.nenalezeno h1{
	color:#000000;
	font-family: 'Cambria';
	font-size:28px;
	margin-top:15px;
	}
.nenalezeno h2{
	color: #EB5F39;
	font-family: 'Cambria-Bold';
	font-size:25px;
	}
.nenalezeno p{
	color:#000000;
	font-family: 'Cambria';
	font-size:16px;
	margin-top:15px;
	margin-bottom:100px;
	}

/**** zapati ****/
.zapati-wrap {
	width:900px;
	height:60px;
	margin-left:60px;
	}
.zapati-wrap p{
	margin-top:10px;
	}

.zapati-wrap a{
	text-decoration:none;
	font-family: 'Cambria';
	color:#000000;		
	}
.zapati-wrap a:hover{
	color:#EB5F39;
	}
