<html>
<head>
  <title>Delete source</title>
<base href="<TMPL_VAR basehref>"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="files/surnames.css" type="text/css"/>
</head>
<body>
<h2>Delete source</h2>

<table>
<tr>
<td>Short title</td>
<td>Reaney abbr.</td>
<td>Full reference</td>
</tr>
<TMPL_LOOP books>
<form method="post" action="surnames">
<input type="hidden" id="id" name="id" value="<TMPL_VAR id>"/>
<input type="hidden" id="short" name="short" value="<TMPL_VAR short>"/>
<input type="hidden" name="action" value="delete_source"/>
<tr id="row<TMPL_VAR count>">
<td class="editshort">
  <TMPL_VAR short>
</td>
<td class="editabbr"><TMPL_VAR abbr></td>
<td class="editfull">
  <TMPL_VAR full>
</td>
<td><input type="submit" value="Really delete"/></td>
</tr>
</form>
</TMPL_LOOP>
</table>


</body>
</html>
