<html>
<head><title>Statistics</title>
<base href="<TMPL_VAR basehref>"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="files/surnames.css" type="text/css"/>
</head>
<body>
<h1>Statistics</h1>

<table border="1">
<tr><td colspan="2">Entries</td><td colspan="7">Current status</td></tr>
<tr><td></td><td>Total</td><td>R</td><td>NYS</td><td>WIP</td><td>HAS QUERY</td><td>EB</td><td>Loc</td><td>P</td></tr>
<tr><td>Total</td><td><TMPL_VAR total></td>
<td><TMPL_VAR count-total-r></td>
<td><TMPL_VAR count-total-nys></td>
<td><TMPL_VAR count-total-wip></td>
<td><TMPL_VAR count-total-q></td>
<td><TMPL_VAR count-total-eb></td>
<td><TMPL_VAR count-total-loc></td>
<td><TMPL_VAR count-total-p></td>
</tr>
<tr><td>ME</td><td><TMPL_VAR ts-me></td>
<td><TMPL_VAR count-me-r></td>
<td><TMPL_VAR count-me-nys></td>
<td><TMPL_VAR count-me-wip></td>
<td><TMPL_VAR count-me-q></td>
<td><TMPL_VAR count-me-eb></td>
<td><TMPL_VAR count-me-loc></td>
<td><TMPL_VAR count-me-p></td>
</tr>
<tr><td>VAR</td><td><TMPL_VAR ts-var></td>
<td><TMPL_VAR count-var-r></td>
<td><TMPL_VAR count-var-nys></td>
<td><TMPL_VAR count-var-wip></td>
<td><TMPL_VAR count-var-q></td>
<td><TMPL_VAR count-var-eb></td>
<td><TMPL_VAR count-var-loc></td>
<td><TMPL_VAR count-var-p></td>
</tr>
<tr><td>RI</td><td><TMPL_VAR ts-ri></td>
<td><TMPL_VAR count-ri-r></td>
<td><TMPL_VAR count-ri-nys></td>
<td><TMPL_VAR count-ri-wip></td>
<td><TMPL_VAR count-ri-q></td>
<td><TMPL_VAR count-ri-eb></td>
<td><TMPL_VAR count-ri-loc></td>
<td><TMPL_VAR count-ri-p></td>
</tr>
<tr><td>Q</td><td><TMPL_VAR ts-q></td>
<td><TMPL_VAR count-q-r></td>
<td><TMPL_VAR count-q-nys></td>
<td><TMPL_VAR count-q-wip></td>
<td><TMPL_VAR count-q-q></td>
<td><TMPL_VAR count-q-eb></td>
<td><TMPL_VAR count-q-loc></td>
<td><TMPL_VAR count-q-p></td>
</tr>
<tr><td>NEW</td><td><TMPL_VAR ts-new></td>
<td><TMPL_VAR count-new-r></td>
<td><TMPL_VAR count-new-nys></td>
<td><TMPL_VAR count-new-wip></td>
<td><TMPL_VAR count-new-q></td>
<td><TMPL_VAR count-new-eb></td>
<td><TMPL_VAR count-new-loc></td>
<td><TMPL_VAR count-new-p></td>
</tr>


</table>
<br/>

<table border="1">
<tr>
<td>frequency</td><td>entries</td>
<td>frequency</td><td>entries</td>
</tr>
<tr>
  <td>GB>=100</td><td><TMPL_VAR freq_uk_100></td>
  <td>Ire>=100</td><td><TMPL_VAR freq_ir_100></td>
</tr>
<tr>
  <td>GB>=200</td><td><TMPL_VAR freq_uk_200></td>
  <td>Ire>=200</td><td><TMPL_VAR freq_ir_200></td>
</tr>
<tr>
  <td>GB>=500</td><td><TMPL_VAR freq_uk_500></td>
  <td>Ire>=500</td><td><TMPL_VAR freq_ir_500></td>
</tr>
<tr>
  <td>GB>=1000</td><td><TMPL_VAR freq_uk_1000></td>
  <td>Ire>=1000</td><td><TMPL_VAR freq_ir_1000></td>
  </tr>
</table>
<br/>

<table border="1">
<tr><td colspan="6"><i>Completed entries by users</i></td></tr>
<TMPL_LOOP comp>
  <tr><td><TMPL_VAR user></td>
  <td><TMPL_VAR count></td>
  </tr>
</TMPL_LOOP>
</table>
<br/>


<table border="1">
<tr><td colspan="2"><i>Weekly statistics for users (completed entries)</i></td></tr>
<tr><td>week</td><td></td></tr>
<TMPL_LOOP week>
  <tr><td><TMPL_VAR week></td><td>
  <table>
  <TMPL_LOOP users>
    <tr><td><TMPL_VAR user></td><td><TMPL_VAR count></td></tr>
  </TMPL_LOOP>
  </table>
  </td></tr>
</TMPL_LOOP>
</table>

<br/><br/>
<small>Generated on <TMPL_VAR time></small>

</body>
</html>
