.cl {
    clear: both;
}

#scrollcontent {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tabCtrl {
  width:100%;
  height:100%;
  overflow:hidden;
  position: static
}

.tabButton {
	background-color:#8f8f8f;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:22px;
	line-height:22px;
	width:86px;
	text-decoration:none;
	text-align:center;
}.tabButton:hover {
	background-color:#dfdfdf;
}.tabButton:active {
	position:relative;
	top:1px;
}

.loginForm {
  display: block;
  width:50%;
  background-color:#FFDDFF;
  margin-left: auto;
  margin-right: auto 
}

.conSettings {
  display: block;
  width:80%;
  background-color:#AAAAAA;
  margin-left: auto;
  margin-right: auto 
}

.preferences {
  display: block;
  width:80%;
  margin-left: auto;
  margin-right: auto 
}

#indexBody {
  background-color: #EEEEEE
}


.listA {
    float: left;
    height: 100%;
}

.listB {
    float: left;
    height: 100%;
}

.listButtons {
    float: left;
    height: 100%;
}

.buttonRemove {
    margin: 70% 5px 5px 5px;
    text-align: center;
}

.buttonAdd {
    text-align: center;
}

#text {
  text-align:center;
}

#listFrom {
  font-family:"Lucida Console", Monaco, monospace
}

#listTo {
  font-family:"Lucida Console", Monaco, monospace
}

.spinner {
  background: url("../img/ajax_spinner.gif") no-repeat center;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

.plus {
  background: url("../img/plus_icon.gif") center;
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

.minus {
  background: url("../img/minus_icon.gif") center;
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

#statusbar {
  position:absolute;
	bottom:0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 99.5%;
  border:solid 1px black; 
  height: 25px;
  background-color:#cccccc;
  margin-top:5px;
  position:absolute;
	bottom:0;
	left:0;
}

.center {
  display: table;
  margin: 0 auto;
}

.new {
  border:solid 4px red;
}

.boxed {
  border:solid 2px black;
}

.boxedInner {
  border:solid 2px #cccccc;
}

ul {
  list-style-type:none;
}

.hitarea {
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

.hitarea-plus {
  background: url("../img/plus_icon.gif") center;
}

.hitarea-minus {
  background: url("../img/minus_icon.gif") center;
}

.link {
  cursor: pointer;
}

.red_text {
  color: red;
}

