<html>
<head><title>import češtiny</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>import českých hesel</h1>

<p><a href="/admin">admin</a></p>

<p>Sloupce v CSV:<br/>
Heslo čj;Definice;autor;copyright;čzj;Příklad použití;autor;copyright
</p>

<form method="post" action="/admin" enctype="multipart/form-data">
<input type="hidden" name="action" value="import_cs_run"/>
  CSV soubor: <input type="file" name="data" /><br/>
  kódování: <select name="charset">
    <option value="win1250">Windows 1250</option>
    <option value="utf8">UTF-8</option>
  </select>
  <br/>
  prac. skupina: <select name="skup">
    <option value="biologie">biologie</option>
    <option value="informatika">informatika</option>
    <option value="matematika">matematika</option>
    <option value="podnikani">podnikání</option>
    <option value="obecna">obecná zásoba</option>
    <option value="all">bez omezení</option>
  </select>
  <br/>
  významová oblast: <select name="def_oblast">
    <option value="anat">anatomie</option>
    <option value="antr">antropologie</option>
    <option value="archeol">archeologie</option>
    <option value="archit">architektrura</option>
    <option value="biol">biologie</option>
    <option value="bot">botanika</option>
    <option value="dipl">diplomacie</option>
    <option value="div">divadelnictví</option>
    <option value="dopr">doprava</option>
    <option value="ekol">ekologie</option>
    <option value="ekon">ekonomie</option>
    <option value="eltech">elektrotechnika</option>
    <option value="etn">etnografie</option>
    <option value="feud">feudalismus</option>
    <option value="filat">filatelie</option>
    <option value="film">filmařství</option>
    <option value="filoz">filozofie</option>
    <option value="fot">fotografování</option>
    <option value="fyz">fyzika</option>
    <option value="fyziol">fyziologie</option>
    <option value="geol">geologie</option>
    <option value="geom">geometrie</option>
    <option value="gnoz">gnozeologie</option>
    <option value="hist">historie</option>
    <option value="horn">hornictví</option>
    <option value="horol">horolezectví</option>
    <option value="hosp">hospodářství</option>
    <option value="hud">hudební věda</option>
    <option value="hut">hutnictví</option>
    <option value="hvězd">hvězdářství</option>
    <option value="chem">chemie</option>
    <option value="ideal">idealismus</option>
    <option value="informatika">informatika</option>
    <option value="jad">jaderná fyzika</option>
    <option value="jaz">jazykověda</option>
    <option value="kapit">kapitalismus</option>
    <option value="karet">karetní výraz</option>
    <option value="katol církvi">katolictví</option>
    <option value="krim">kriminalistika</option>
    <option value="křesť">křesťanství</option>
    <option value="kuch">kuchařství</option>
    <option value="kult">kultura</option>
    <option value="kyb">kybernetika</option>
    <option value="lék">lékařství</option>
    <option value="lékár">lékárnictví</option>
    <option value="let">letectví</option>
    <option value="liter">literární věda</option>
    <option value="log">logika</option>
    <option value="marx">marxismus</option>
    <option value="mat">matematika</option>
    <option value="meteor">meteorologie</option>
    <option value="miner">mineralogie</option>
    <option value="motor">motorismus</option>
    <option value="mysl">myslivecký výraz</option>
    <option value="mytol">mytologie</option>
    <option value="náb">náboženství</option>
    <option value="nár">národopis</option>
    <option value="obch">obchod</option>
    <option value="pedag">pedagogika</option>
    <option value="peněž">peněžnictví</option>
    <option value="podnikani">podnikání</option>
    <option value="polit">politika</option>
    <option value="polygr">polygrafie</option>
    <option value="pošt">poštovnictví</option>
    <option value="potrav">potravinářství</option>
    <option value="práv">právo, právnictví</option>
    <option value="prům">průmysl</option>
    <option value="přír">příroda</option>
    <option value="psych">psychologie</option>
    <option value="rybn">rybníkářství</option>
    <option value="řem">řemeslo</option>
    <option value="sklář">sklářství</option>
    <option value="soc">socialismus</option>
    <option value="sociol">sociologie</option>
    <option value="stat">statistika</option>
    <option value="stav">stavitelství</option>
    <option value="škol">školství</option>
    <option value="tech">technika</option>
    <option value="těl">tělovýchova</option>
    <option value="text">textilnictví</option>
    <option value="úč">účetnictví</option>
    <option value="úř">úřední výraz</option>
    <option value="veř spr">veřejná správa</option>
    <option value="vet">veterinářství</option>
    <option value="voj">vojenství</option>
    <option value="výp tech">výpočetní technika</option>
    <option value="výr">výroba</option>
    <option value="výtv">výtvarnictví</option>
    <option value="zahr">zahradnictví</option>
    <option value="zbož">zbožíznalství</option>
    <option value="zeměd">zemědělství</option>
    <option value="zeměp">zeměpis</option>
    <option value="zool">zoologie</option>
    <option value="cirkev">církevní výraz</option>
  </select>
  <br/><input type="submit" value="upload" />

</form>


</body>
</html>
