<html>
  <head>
<title>Dictio - administrace</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/editor/css/font-awesome.min.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-common2.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-search.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-preview7-min.css" type="text/css" rel="stylesheet"></link>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext'/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" type="text/css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900&subset=latin,latin-ext" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="/editor/lib/jquery.min.js">//</script>
    <script src="/editor/lib/jquery-ui.js">//</script>
    <link rel="stylesheet" href="/editor/lib/jquery-ui.css"></link>
    <script src="/editor/lib/flowplayer.min.js">//</script>
    <script type="text/javascript" src="/media/fancybox/jquery.fancybox.pack.js">//</script>
    <link rel="stylesheet" href="/media/fancybox/jquery.fancybox.css" type="text/css" media="screen"></link>
    <link rel="stylesheet" href="/editor/lib/minimalist.css"></link>
    <script>
    $(document).ready(function() {
      $(".flowmouse").bind("mouseenter mouseleave", function(e) {
        flowplayer(this)[/ee/.test(e.type) ? "resume":"pause"]();
      });

      $('.koment_button').on('click', function() {
        var form = $(this).parent();
        var text = $('[name=koment]', form).val();
        var eid = $('[name=eid]', form).val();
        var loc = $('[name=location]', form).val();
        $.ajax({
          url: '/cs',
          data: {
            action: 'add_comment',
            entry: eid,
            box: loc,
            text: text,
          },
          success: function(response) {
          }
        });
      });
    });
    
    function publish_relation(entry, meaning, relation, type, button) {
      $.ajax({
        url: '/en',
        data: {
          action: 'publish_relation',
          id: entry,
          meaning_id: meaning,
          type: type,
          rel_id: relation
        },
        success: function(response) {
          button.setAttribute('value', 'schváleno');
        }
      });
    }
    </script>
   <style>td {	border: 1px solid white;}
  tr {border: 1px solid #159C81;}
  table.report td {border-bottom: 1px solid #159C81;}
  span.yesno {width: 160px; float:right;}
  div.popis {width: 290px; float:left;}
  </style>   
  </head>
<body  style="overflow: scroll;">
<div class="czj-header-admin" style="padding-bottom: 0px;">
          <div class="czj-header-inner">
            <div class="czj-header-inner-left">
            <a href="/"><img src="/editor/img/book.png" height="25px; border: 0;" />DICTIO</a> > <a href="/admin?lang=<TMPL_GLOBAL lang>"><img src="editor/img/admin_w.png" title="Administrátorské nástroje" border="0"/> Administrátorské nástroje </a>
	     </div>
            <div class="alignright">
              <div class="czj-header-navig" >
                 <ul>
                 <li><!-- <a href="/czj?action=page&amp;page=about&lang=<TMPL_GLOBAL lang>">O slovníku</a></li><li><a href="/czj?action=page&amp;page=kontakt&lang=<TMPL_GLOBAL lang>">Kontakt</a></li><li><a href="/czj?action=page&amp;page=napoveda&lang=<TMPL_GLOBAL lang>">Nápověda</a>--></li>
                  <div class="czj-header-languages" style="padding: 4px 2px 2px 2px;"><li>
   		     <a href="/admin?action=reporten&amp;lang=en" class="<TMPL_VAR active_en>">ENG</a>
                   <a href="/admin?action=reporten&amp;lang=sk" class="<TMPL_VAR active_sk>">SK</a>
                   <a href="/admin?action=reporten&amp;lang=cz" class="<TMPL_VAR active_cz>">CZ</a>
		    </li>
		   <li><a href="#" onclick="logout()"><img src="editor/img/logout.png" title="Odhlásit" border="0"/></a></li>
		   </div>
                </ul>		  		
              </div>              
		
            </div>
          </div>
        </div>
        <div class="czj-dictionaries" style="height: 15px;">
          <div class="czj-dictionaries-inner" style="height: 15px;">
            <div style="float:right">
		<span class="author-info">uživatel: <a href="/admin?action=changeprof" title="upravit profil"><TMPL_VAR user></a></span>
           </div>
           
          </div>
        </div>  
        <div class="czj-inner-wrapper" style="text-align: left;">
       <div style="float: left; width:100%; padding-left: 5px; color: silver;" class="dict-en"><img src="editor/img/list.png" border="0"/><strong>PŘEHLED HESEL - ANGLIČTINA</strong></div>

<em>Filtrovat hesla:</em>
<form method="get" action="/admin">
<table style="background-color: #159C81; "><tr><td style="width: 450px;">
  <input type="hidden" name="action" value="reporten"/>
  <input type="hidden" name="filter" value="true"/>

<TMPL_IFNOT ro> 
  <div class="popis">již <strong>editovaná</strong></div>
  <span class="yesno">
  <TMPL_IF check_noupdate-ano>
    <label><input type="radio" name="noupdate" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_noupdate-ne>
    <label><input type="radio" name="noupdate" value="ano"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_noupdate->
    <label><input type="radio" name="noupdate" value="ano"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="noupdate" value=""/>X</label>
  </span>
  <br/>
  <div class="popis"> s vyplněným <strong>výkladem</strong></div>
  <span class="yesno">
  <TMPL_IF check_vyznamcs-ano>
    <label><input type="radio" name="vyznamcs" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vyznamcs-ne>
    <label><input type="radio" name="vyznamcs" value="ano"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vyznamcs->
    <label><input type="radio" name="vyznamcs" value="ano"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="vyznamcs" value=""/>X</label>
  </span>  
  <br/>
  <div class="popis">s vyplněnou <strong>kontext. cit.</strong></div>
  <span class="yesno"> 
  <TMPL_IF check_usagecs-ne>
    <label><input type="radio" name="usagecs" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_usagecs-ano>
    <label><input type="radio" name="usagecs" value="ne"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_usagecs->
    <label><input type="radio" name="usagecs" value="ne"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="usagecs" value=""/>X</label>
  </span> 
  <br/>
  <div class="popis">obsahující jen <strong>schválené vazby</strong></div>
  <span class="yesno">
  <TMPL_IF check_vztahy-ano>
    <label><input type="radio" name="vztahy" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vztahy-ne>
    <label><input type="radio" name="vztahy" value="ano"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vztahy->
    <label><input type="radio" name="vztahy" value="ano"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="vztahy" value=""/>X</label>
  </span> </TMPL_IFNOT> 

  <br/>
  <div class="popis">obsahující <strong>překlady do ZJ</strong></div>
  <span class="yesno">
  <TMPL_IF check_translation-ne>
    <label><input type="radio" name="translation" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="translation" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translation-ano>
    <label><input type="radio" name="translation" value="ne"/>A</label> 
    <label><input type="radio" name="translation" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translation->
    <label><input type="radio" name="translation" value="ne"/>A</label> 
    <label><input type="radio" name="translation" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="translation" value=""/>X</label>
  </span> 
  <br/>

<TMPL_IFNOT ro> 
   <div class="popis">obsahující <strong>schválené překlady</strong> do ZJ</div>
   <span class="yesno">
   <TMPL_IF check_pubtrans-ano>   
    <label><input type="radio" name="pubtrans" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="pubtrans" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtrans-ne>
    <label><input type="radio" name="pubtrans" value="ano"/>A</label> 
    <label><input type="radio" name="pubtrans" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtrans->
    <label><input type="radio" name="pubtrans" value="ano"/>A</label> 
    <label><input type="radio" name="pubtrans" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="pubtrans" value=""/>X</label>
  </span> 
  <br/> </TMPL_IFNOT> 

  </td><td style="width: 450px;">
<!--   neveřejná (ručně skrytá)
  <span class="yesno">
  <TMPL_IF check_rucne-ne>
    <label><input type="radio" name="rucne" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="rucne" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_rucne-ano>
    <label><input type="radio" name="rucne" value="ne"/>A</label> 
    <label><input type="radio" name="rucne" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_rucne->
    <label><input type="radio" name="rucne" value="ne"/>A</label> 
    <label><input type="radio" name="rucne" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="rucne" value=""/>X</label>
  </span> 
  <br/>-->
 
 
 
 
  <div class="popis">z pracovní skupiny  <select name="def_skup">
    <TMPL_IF check_def_skup-biologie><option value="biologie" selected="selected">biologie</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-biologie><option value="biologie">biologie</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-informatika><option value="informatika" selected="selected">informatika</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-informatika><option value="informatika">informatika</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-matematika><option value="matematika" selected="selected">matematika</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-matematika><option value="matematika">matematika</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-podnikani><option value="podnikani" selected="selected">podnikání</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-podnikani><option value="podnikani">podnikání</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-obecna><option value="obecna" selected="selected">obecná zásoba</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-obecna><option value="obecna">obecná zásoba</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-all><option value="all" selected="selected">bez omezení</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-all><option value="all">bez omezení</option></TMPL_IFNOT>
  </select></div>
  <span class="yesno"> 
  <TMPL_IF check_skup-ne>
    <label><input type="radio" name="skup" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="skup" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_skup-ano>
    <label><input type="radio" name="skup" value="ne"/>A</label> 
    <label><input type="radio" name="skup" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_skup->
    <label><input type="radio" name="skup" value="ne"/>A</label> 
    <label><input type="radio" name="skup" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="skup" value=""/>X</label> 
  
 
  </span>
<TMPL_IFNOT ro>  <br/>
  <div class="popis">s komentářem k 
  <select name="komentbox">
    <TMPL_IF check_komentbox-><option value="" selected="selected">vše</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-><option value="">vše</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-boxlemma><option value="boxlemma" selected="selected">základní info</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-boxlemma><option value="boxlemma"></option>základní info</TMPL_IFNOT>
    <TMPL_IF check_komentbox-boxcolloc><option value="boxcolloc" selected="selected">typ hesla</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-boxcolloc><option value="boxcolloc">typ hesla</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-gramdesc><option value="gramdesc" selected="selected">gramatika</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-gramdesc><option value="gramdesc">gramatika</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-styldesc><option value="styldesc" selected="selected">stylistika</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-styldesc><option value="styldesc">stylistika</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-vyznam><option value="vyznam" selected="selected">význam</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-vyznam><option value="vyznam">význam</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-_us><option value="_us" selected="selected">kontext</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-_us><option value="_us">kontext</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-vazby><option value="vazby" selected="selected">vztahy</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-vazby><option value="vazby">vztahy</option></TMPL_IFNOT>
  </select></div>
  <span class="yesno">
  <TMPL_IF check_koment-ne>
    <label><input type="radio" name="koment" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="koment" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_koment-ano>
    <label><input type="radio" name="koment" value="ne"/>A</label> 
    <label><input type="radio" name="koment" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_koment->
    <label><input type="radio" name="koment" value="ne"/>A</label> 
    <label><input type="radio" name="koment" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="koment" value=""/>X</label>     
  </span>

  <br/>
  <div class="popis">- <strong>s nastaveným zveřejňováním </strong>  <br />
   <select name="completenessbox">
    <TMPL_IF check_completenessbox-><option value="" selected="selected">vše</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-><option value="">vše</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-0><option value="0" selected="selected">automaticky (publikovat jen úplné heslo)</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-0><option value="0">automaticky (jen úplné heslo)</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-1><option value="1" selected="selected">nepublikovat (neveřejné heslo)</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-1><option value="1">nepublikovat (neveřejné heslo)</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-2><option value="2" selected="selected">publikovat všechny vyplněné části</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-2><option value="2">publikovat všechny vyplněné části</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-100><option value="100" selected="selected">publikovat jen schválené části</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-100><option value="100">publikovat jen schválené části</option></TMPL_IFNOT>
  </select></div>
  <span class="yesno"> <br />
  <TMPL_IF check_completeness-ne>
    <label><input type="radio" name="completeness" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="completeness" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_completeness-ano>
    <label><input type="radio" name="completeness" value="ne"/>A</label> 
    <label><input type="radio" name="completeness" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_completeness->
    <label><input type="radio" name="completeness" value="ne"/>A</label> 
    <label><input type="radio" name="completeness" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="completeness" value=""/>X</label> 
 
  </span></TMPL_IFNOT> 

  <br/>
  <div class="popis"><!--<strong>publikovaná </strong>-->
   <select name="autocompbox">
   <TMPL_IF check_autocompbox-1><option value="1" selected="selected">publikovaná</option></TMPL_IF>
    <TMPL_IFNOT check_autocompbox-1><option value="1">publikovaná</option></TMPL_IFNOT>
    <TMPL_IF check_autocompbox-0><option value="0" selected="selected">nepublikovaná</option></TMPL_IF>
    <TMPL_IFNOT check_autocompbox-0><option value="0">nepublikovaná</option></TMPL_IFNOT>
  </select></div>
  <span class="yesno">
  <TMPL_IF check_autocomp-ne>
    <label><input type="radio" name="autocomp" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_autocomp-ano>
    <label><input type="radio" name="autocomp" value="ne"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_autocomp->
    <label><input type="radio" name="autocomp" value="ne"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="autocomp" value=""/>X</label> 
  
 
  </span>  
  <br/></td></tr></table>
  <input type="submit" value="vyhledat"/><div style="float: right;">A - ANO, N - NE, X - ZRUŠIT VÝBĚR</div>
</form>

<p>(<TMPL_VAR begin> - <TMPL_VAR end> / <TMPL_VAR count>) 
<TMPL_IF prev><a href="/admin?action=reporten&page=0&<TMPL_VAR url_par>">|&lt; první</a></TMPL_IF> 
<TMPL_IF prev><a href="/admin?action=reporten&page=<TMPL_VAR prev>&<TMPL_VAR url_par>">&lt; předchozí</a></TMPL_IF>&nbsp;&nbsp; 
<a href="/admin?action=reporten&page=<TMPL_VAR next>&<TMPL_VAR url_par>">další &gt;</a> 
<a href="/admin?action=reporten&page=<TMPL_VAR last>&<TMPL_VAR url_par>">poslední &gt;| </a>
</p>

<table class="report" border="1">
<tr><td><strong>ID</strong></td><td><strong>lemma</strong></td><td></td></tr>
<TMPL_LOOP report>
<tr>
<td><TMPL_VAR id></td>
<td> -&nbsp;<strong><a target="_blank" title="přejít na heslo" href="/en?action=search&getdoc=<TMPL_VAR id>"><TMPL_VAR titlecs></a></strong>&nbsp;- </td>
<td>
<TMPL_LOOP relations>
  <TMPL_IF target>
    <TMPL_VAR type>: <a target="_blank" href="/<TMPL_VAR target>?action=getdoc&tr=<TMPL_VAR tr>&id=<TMPL_VAR rlid>"><TMPL_VAR rmid></a>
  </TMPL_IF>
  <TMPL_IFNOT target>
    <TMPL_VAR type>: <TMPL_VAR rmid>
  </TMPL_IFNOT>  
  <input type="button" onclick="publish_relation('<TMPL_VAR entry_id>', '<TMPL_VAR meaning_id>', '<TMPL_VAR rmid>', '<TMPL_VAR type>', this)" value="schválit"/>
<form method="get" id="koment-<TMPL_VAR entry_id>-<TMPL_VAR meaning_id>-<TMPL_VAR type>-<TMPL_VAR rmid>">
<input type="hidden" name="location" value="vyznam<TMPL_VAR meaning_id>"/>
<input type="hidden" name="eid" value="<TMPL_VAR entry_id>"/>
<input name="koment" type="text" size="50"/><input type="button" value="komentovat" class="koment_button"/>
</form>
  <br/>
</TMPL_LOOP>
</td>
<TMPL_IF koment>
<td><span style="font-size: smaller;"><TMPL_VAR koment></span></td>
</TMPL_IF>
<td><TMPL_IFNOT ro><a target="_blank" href="/editoren/?id=<TMPL_VAR id>"><img src="/editor/img/edit.png" title="editovat" /></a></TMPL_IFNOT></td>
</tr>
</TMPL_LOOP>
</table>

<p>(<TMPL_VAR begin> - <TMPL_VAR end> / <TMPL_VAR count>) 
<TMPL_IF prev><a href="/admin?action=reporten&page=0&<TMPL_VAR url_par>">|&lt; první</a></TMPL_IF> 
<TMPL_IF prev><a href="/admin?action=reporten&page=<TMPL_VAR prev>&<TMPL_VAR url_par>">&lt; předchozí</a></TMPL_IF>&nbsp;&nbsp;
<a href="/admin?action=reporten&page=<TMPL_VAR next>&<TMPL_VAR url_par>">další &gt;</a> 
<a href="/admin?action=reporten&page=<TMPL_VAR last>&<TMPL_VAR url_par>">poslední &gt;| </a>
</p>

  </div>
</body>
</html>
