<html>
  <head>
<title>Dictio - administrace</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/editor/css/font-awesome.min.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-common2.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-search.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-preview7-min.css" type="text/css" rel="stylesheet"></link>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext'/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" type="text/css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900&subset=latin,latin-ext" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="/editor/lib/jquery.min.js">//</script>
    <script src="/editor/lib/jquery-ui.js">//</script>
    <link rel="stylesheet" href="/editor/lib/jquery-ui.css"></link>
    <script src="/editor/lib/flowplayer.min.js">//</script>
    <script type="text/javascript" src="/media/fancybox/jquery.fancybox.min.js">//</script>
    <link rel="stylesheet" href="/media/fancybox/jquery.fancybox.min.css" type="text/css" media="screen"></link>
    <link rel="stylesheet" href="/editor/lib/minimalist.css"></link>
    <script>
    $(document).ready(function() {
      $(".flowmouse").bind("mouseenter mouseleave", function(e) {
        flowplayer(this)[/ee/.test(e.type) ? "resume":"pause"]();
      });

      $('.koment_button').on('click', function() {
        var form = $(this).parent();
        var text = $('[name=koment]', form).val();
        var eid = $('[name=eid]', form).val();
        var loc = $('[name=location]', form).val();
        $.ajax({
          url: '/cs',
          data: {
            action: 'add_comment',
            entry: eid,
            box: loc,
            text: text,
          },
          success: function(response) {
          }
        });
      });
   $('.textlink').fancybox({
autoSize: true,
showCloseButton:  true,
autoScale      : true,
preload: false,
smallBtn : 'auto',
infobar : false,
transitionIn  : 'fade',
transitionOut  : 'fade',
titlePosition  : 'inside',
hideOnContentClick : true,
speedIn: 100,
speedOut: 100,
changeSpeed    : 0,
centerOnScroll : false,
animationEffect:false,
padding: 0,
iframe: {css:{height:'90%'}},
});

    });
    
    function publish_relation(entry, meaning, relation, type, button) {
      $.ajax({
        url: '/cs',
        data: {
          action: 'publish_relation',
          id: entry,
          meaning_id: meaning,
          type: type,
          rel_id: relation
        },
        success: function(response) {
          button.setAttribute('value', 'schváleno');
        }
      });
    }
    </script>
   <style>td {	border: 1px solid white;}
  tr {border: 1px solid #159C81;}
  table.report td {border-bottom: 1px solid #159C81;}
  span.yesno {width: 110px; float:right;}
  div.popis {width: 375px; float:left;}
  </style>   
  </head>
<body style="overflow: scroll;">
<div class="czj-header-admin" style="padding-bottom: 0px;">
          <div class="czj-header-inner">
            <div class="czj-header-inner-left">
            <a href="/"><img src="/editor/img/book.png" height="25px; border: 0;" />DICTIO</a> > <a href="/admin?lang=<TMPL_GLOBAL lang>"><img src="editor/img/admin_w.png" title="Administrátorské nástroje" border="0"/> Administrátorské nástroje </a>
	     </div>
            <div class="alignright">
              <div class="czj-header-navig" >
                 <ul>
                 <li><!-- <a href="/czj?action=page&amp;page=about&lang=<TMPL_GLOBAL lang>">O slovníku</a></li><li><a href="/czj?action=page&amp;page=kontakt&lang=<TMPL_GLOBAL lang>">Kontakt</a></li><li><a href="/czj?action=page&amp;page=napoveda&lang=<TMPL_GLOBAL lang>">Nápověda</a>--></li>
                  <div class="czj-header-languages" style="padding: 4px 2px 2px 2px;"><li>
   		     <a href="/admin?action=reportcs&amp;lang=en" class="<TMPL_VAR active_en>">ENG</a>
                   <a href="/admin?action=reportcs&amp;lang=sk" class="<TMPL_VAR active_sk>">SK</a>
                   <a href="/admin?action=reportcs&amp;lang=cz" class="<TMPL_VAR active_cz>">CZ</a>
		    </li>
		   <li><a href="#" onclick="logout()"><img src="editor/img/logout.png" title="Odhlásit" border="0"/></a></li>
		   </div>
                </ul>		  		
              </div>              
		
            </div>
          </div>
        </div>
        <div class="czj-dictionaries" style="height: 15px;">
          <div class="czj-dictionaries-inner" style="height: 15px;">
            <div style="float:right">
		<span class="author-info">uživatel: <a href="/admin?action=changeprof" title="upravit profil"><TMPL_VAR user></a></span>
           </div>
           
          </div>
        </div>        <div class="czj-inner-wrapper" style="text-align: left;">
       <div style="float: left; width:100%; padding-left: 5px;" class="dict-cj"><img src="editor/img/list.png" border="0"/><strong>PŘEHLED HESEL: ČEŠTINA</strong></div>

<em>Filtrovat hesla kde je:</em>
<form method="get" action="/admin">
<table style="background-color: #159C81; font-size: 0.9em"><tr><td style="width: 450px;">
  <input type="hidden" name="action" value="reportcs"/>
  <input type="hidden" name="filter" value="true"/>

<TMPL_IFNOT ro> 
  
  <div class="popis">zadaná <strong>definice</strong>
  <span class="yesno">
  <TMPL_IF check_vyznamcs-ano>
    <label><input type="radio" name="vyznamcs" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vyznamcs-ne>
    <label><input type="radio" name="vyznamcs" value="ano"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vyznamcs->
    <label><input type="radio" name="vyznamcs" value="ano"/>A</label> 
    <label><input type="radio" name="vyznamcs" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="vyznamcs" value=""/>X</label>
  </span>  
  </div>
  <div class="popis">zadaná <strong>kontext. cit.</strong>
  <span class="yesno"> 
  <TMPL_IF check_usagecs-ne>
    <label><input type="radio" name="usagecs" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_usagecs-ano>
    <label><input type="radio" name="usagecs" value="ne"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_usagecs->
    <label><input type="radio" name="usagecs" value="ne"/>A</label> 
    <label><input type="radio" name="usagecs" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="usagecs" value=""/>X</label>
  </span> 
  </div>
  <div class="popis">obsahuje jen <strong>schválené vazby</strong>
  <span class="yesno">
  <TMPL_IF check_vztahy-ano>
    <label><input type="radio" name="vztahy" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vztahy-ne>
    <label><input type="radio" name="vztahy" value="ano"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_vztahy->
    <label><input type="radio" name="vztahy" value="ano"/>A</label> 
    <label><input type="radio" name="vztahy" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="vztahy" value=""/>X</label>
  </span></div>
  </TMPL_IFNOT> 
  
  <div class="popis">zadaný <strong>překlad na publikované heslo</strong>
  <span class="yesno">
  <TMPL_IF check_relpub-ano>
    <label><input type="radio" name="relpub" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="relpub" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_relpub-ne>
    <label><input type="radio" name="relpub" value="ano"/>A</label> 
    <label><input type="radio" name="relpub" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_relpub->
    <label><input type="radio" name="relpub" value="ano"/>A</label> 
    <label><input type="radio" name="relpub" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="relpub" value=""/>X</label>
  </span> 
  </div>
  
  <div class="popis"><strong>slovní spojení </strong>
  <span class="yesno">
  <TMPL_IF check_coll-ano>
    <label><input type="radio" name="coll" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="coll" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_coll-ne>
    <label><input type="radio" name="coll" value="ano"/>A</label> 
    <label><input type="radio" name="coll" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_coll->
    <label><input type="radio" name="coll" value="ano"/>A</label> 
    <label><input type="radio" name="coll" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="coll" value=""/>X</label> 
  </span>
 </div>
  
  </td>
  <td style="width: 33%">
  <div class="popis">zadaný <strong>překlad</strong>  do:</div>
  <div class="popis" style="text-align: right;"><strong>ČZJ</strong>
  <span class="yesno">
  <TMPL_IF check_translationczj-ne>
    <label><input type="radio" name="translationczj" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="translationczj" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationczj-ano>
    <label><input type="radio" name="translationczj" value="ne"/>A</label> 
    <label><input type="radio" name="translationczj" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationczj->
    <label><input type="radio" name="translationczj" value="ne"/>A</label> 
    <label><input type="radio" name="translationczj" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="translationczj" value=""/>X</label>
  </span> 
  </div>
  <div class="popis" style="text-align: right;"><strong>ASL</strong>
  <span class="yesno">
  <TMPL_IF check_translationasl-ne>
    <label><input type="radio" name="translationasl" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="translationasl" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationasl-ano>
    <label><input type="radio" name="translationasl" value="ne"/>A</label> 
    <label><input type="radio" name="translationasl" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationasl->
    <label><input type="radio" name="translationasl" value="ne"/>A</label> 
    <label><input type="radio" name="translationasl" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="translationasl" value=""/>X</label>
  </span> 
  </div>
  <div class="popis" style="text-align: right;"><strong>IS</strong>
  <span class="yesno">
  <TMPL_IF check_translationis-ne>
    <label><input type="radio" name="translationis" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="translationis" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationis-ano>
    <label><input type="radio" name="translationis" value="ne"/>A</label> 
    <label><input type="radio" name="translationis" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationis->
    <label><input type="radio" name="translationis" value="ne"/>A</label> 
    <label><input type="radio" name="translationis" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="translationis" value=""/>X</label>
  </span> 
  </div>
  <div class="popis" style="text-align: right;"><strong>angličtiny</strong> (ID)
  <span class="yesno">
  <TMPL_IF check_translationen-ne>
    <label><input type="radio" name="translationen" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="translationen" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationen-ano>
    <label><input type="radio" name="translationen" value="ne"/>A</label> 
    <label><input type="radio" name="translationen" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_translationen->
    <label><input type="radio" name="translationen" value="ne"/>A</label> 
    <label><input type="radio" name="translationen" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="translationen" value=""/>X</label>
  </span> 
  </div>
  <div class="popis" style="text-align: right;"><strong>angličtiny</strong> (textový)
  <span class="yesno">
  <TMPL_IF check_texttranslationen-ne>
    <label><input type="radio" name="texttranslationen" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="texttranslationen" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_texttranslationen-ano>
    <label><input type="radio" name="texttranslationen" value="ne"/>A</label> 
    <label><input type="radio" name="texttranslationen" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_texttranslationen->
    <label><input type="radio" name="texttranslationen" value="ne"/>A</label> 
    <label><input type="radio" name="texttranslationen" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="texttranslationen" value=""/>X</label>
  </span> 
  </div>


  </td><td style="width: 450px;">
<TMPL_IFNOT ro> 
   <div class="popis"><strong>schválený překlad</strong> do: </div>
   <div class="popis" style="text-align: right;"><strong>ČZJ</strong>
   <span class="yesno">
   <TMPL_IF check_pubtransczj-ano>   
    <label><input type="radio" name="pubtransczj" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="pubtransczj" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransczj-ne>
    <label><input type="radio" name="pubtransczj" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransczj" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransczj->
    <label><input type="radio" name="pubtransczj" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransczj" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="pubtransczj" value=""/>X</label>
  </span> 
  </div> 
   <div class="popis" style="text-align: right;"><strong>ASL</strong>
   <span class="yesno">
   <TMPL_IF check_pubtransasl-ano>   
    <label><input type="radio" name="pubtransasl" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="pubtransasl" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransasl-ne>
    <label><input type="radio" name="pubtransasl" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransasl" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransasl->
    <label><input type="radio" name="pubtransasl" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransasl" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="pubtransasl" value=""/>X</label>
  </span> 
  </div>
   <div class="popis" style="text-align: right;"><strong>IS</strong>
   <span class="yesno">
   <TMPL_IF check_pubtransis-ano>   
    <label><input type="radio" name="pubtransis" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="pubtransis" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransis-ne>
    <label><input type="radio" name="pubtransis" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransis" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransis->
    <label><input type="radio" name="pubtransis" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransis" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="pubtransis" value=""/>X</label>
  </span> 
  </div>
   <div class="popis" style="text-align: right;"><strong>angličtiny</strong>
   <span class="yesno">
   <TMPL_IF check_pubtransen-ano>   
    <label><input type="radio" name="pubtransen" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="pubtransen" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransen-ne>
    <label><input type="radio" name="pubtransen" value="ano"/>A</label> 
    <label><input type="radio" name="pubtransen" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_pubtransen->
    <label><input type="radio" name="pubtransen" value="ano"/>A</label> 
    <label><input type="radio" name="pubtrans" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="pubtrans" value=""/>X</label>
  </span> 
  </div>
  <br/>
  </TMPL_IFNOT> 
<!--   neveřejná (ručně skrytá)
  <span class="yesno">
  <TMPL_IF check_rucne-ne>
    <label><input type="radio" name="rucne" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="rucne" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_rucne-ano>
    <label><input type="radio" name="rucne" value="ne"/>A</label> 
    <label><input type="radio" name="rucne" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_rucne->
    <label><input type="radio" name="rucne" value="ne"/>A</label> 
    <label><input type="radio" name="rucne" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="rucne" value=""/>X</label>
  </span> 
  <br/>-->
   

  </td></tr>
  <TMPL_IFNOT ro>   
  <tr>
  <td>
  <div class="popis"><strong>nastavené zveřejňování </strong>  <br />
   <select name="completenessbox">
    <TMPL_IF check_completenessbox-><option value="" selected="selected">vše</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-><option value="">vše</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-0><option value="0" selected="selected">automaticky (publikovat jen úplné heslo)</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-0><option value="0">automaticky (jen úplné heslo)</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-1><option value="1" selected="selected">nepublikovat (neveřejné heslo)</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-1><option value="1">nepublikovat (neveřejné heslo)</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-2><option value="2" selected="selected">publikovat všechny vyplněné části</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-2><option value="2">publikovat všechny vyplněné části</option></TMPL_IFNOT>
    <TMPL_IF check_completenessbox-100><option value="100" selected="selected">publikovat jen schválené části</option></TMPL_IF>
    <TMPL_IFNOT check_completenessbox-100><option value="100">publikovat jen schválené části</option></TMPL_IFNOT>
  </select>
  <span class="yesno"> 
  <TMPL_IF check_completeness-ne>
    <label><input type="radio" name="completeness" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="completeness" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_completeness-ano>
    <label><input type="radio" name="completeness" value="ne"/>A</label> 
    <label><input type="radio" name="completeness" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_completeness->
    <label><input type="radio" name="completeness" value="ne"/>A</label> 
    <label><input type="radio" name="completeness" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="completeness" value=""/>X</label> 

  </span>  
  </div>  
  </td>
  <td>
  <div class="popis">již <strong>editovaná</strong>
  <span class="yesno">
  <TMPL_IF check_noupdate-ano>
    <label><input type="radio" name="noupdate" value="ano" checked="checked"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_noupdate-ne>
    <label><input type="radio" name="noupdate" value="ano"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_noupdate->
    <label><input type="radio" name="noupdate" value="ano"/>A</label> 
    <label><input type="radio" name="noupdate" value="ne"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="noupdate" value=""/>X</label>
  </span>
  </div>
  
  <div class="popis"><!--<strong>publikovaná </strong>-->
    <input name="autocompbox" value="1" type="hidden"/><strong>publikovaná</strong>
  <span class="yesno">
  <TMPL_IF check_autocomp-ne>
    <label><input type="radio" name="autocomp" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_autocomp-ano>
    <label><input type="radio" name="autocomp" value="ne"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_autocomp->
    <label><input type="radio" name="autocomp" value="ne"/>A</label> 
    <label><input type="radio" name="autocomp" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="autocomp" value=""/>X</label> 
  </span>
  </div>    
  </td>  
  <td>
  <div class="popis">z <strong>prac. skupiny</strong>  <select name="def_skup">
    <TMPL_IF check_def_skup-biologie><option value="biologie" selected="selected">biologie</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-biologie><option value="biologie">biologie</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-informatika><option value="informatika" selected="selected">informatika</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-informatika><option value="informatika">informatika</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-matematika><option value="matematika" selected="selected">matematika</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-matematika><option value="matematika">matematika</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-podnikani><option value="podnikani" selected="selected">podnikání</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-podnikani><option value="podnikani">podnikání</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-obecna><option value="obecna" selected="selected">obecná zásoba</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-obecna><option value="obecna">obecná zásoba</option></TMPL_IFNOT>
    <TMPL_IF check_def_skup-all><option value="all" selected="selected">bez omezení</option></TMPL_IF>
    <TMPL_IFNOT check_def_skup-all><option value="all">bez omezení</option></TMPL_IFNOT>
  </select>
  <span class="yesno"> 
  <TMPL_IF check_skup-ne>
    <label><input type="radio" name="skup" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="skup" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_skup-ano>
    <label><input type="radio" name="skup" value="ne"/>A</label> 
    <label><input type="radio" name="skup" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_skup->
    <label><input type="radio" name="skup" value="ne"/>A</label> 
    <label><input type="radio" name="skup" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="skup" value=""/>X</label> 
  </span>
  </div>  
  
<div class="popis">zadaný <strong>komentář</strong> k 
  <select name="komentbox">
    <TMPL_IF check_komentbox-><option value="" selected="selected">vše</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-><option value="">vše</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-boxlemma><option value="boxlemma" selected="selected">základní info</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-boxlemma><option value="boxlemma"></option>základní info</TMPL_IFNOT>
    <TMPL_IF check_komentbox-boxcolloc><option value="boxcolloc" selected="selected">typ hesla</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-boxcolloc><option value="boxcolloc">typ hesla</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-gramdesc><option value="gramdesc" selected="selected">gramatika</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-gramdesc><option value="gramdesc">gramatika</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-styldesc><option value="styldesc" selected="selected">stylistika</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-styldesc><option value="styldesc">stylistika</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-vyznam><option value="vyznam" selected="selected">význam</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-vyznam><option value="vyznam">význam</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-_us><option value="_us" selected="selected">kontext</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-_us><option value="_us">kontext</option></TMPL_IFNOT>
    <TMPL_IF check_komentbox-vazby><option value="vazby" selected="selected">vztahy</option></TMPL_IF>
    <TMPL_IFNOT check_komentbox-vazby><option value="vazby">vztahy</option></TMPL_IFNOT>
  </select>
  <span class="yesno">
  <TMPL_IF check_koment-ne>
    <label><input type="radio" name="koment" value="ne" checked="checked"/>A</label> 
    <label><input type="radio" name="koment" value="ano"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_koment-ano>
    <label><input type="radio" name="koment" value="ne"/>A</label> 
    <label><input type="radio" name="koment" value="ano" checked="checked"/>N</label> 
  </TMPL_IF>
  <TMPL_IF check_koment->
    <label><input type="radio" name="koment" value="ne"/>A</label> 
    <label><input type="radio" name="koment" value="ano"/>N</label> 
  </TMPL_IF>
  <label><input type="radio" name="koment" value=""/>X</label>     
  </span>  
  </div>
  <div class="popis">zobrazit i moje komentáře
    <span class="yesno">
  <TMPL_IF check_koment_moje-on><input type="checkbox" checked="checked" name="koment_moje"/></TMPL_IF>
  <TMPL_IFNOT check_koment_moje-on><input type="checkbox" name="koment_moje"/></TMPL_IFNOT>
  </span></div>  

</td>
  </tr></TMPL_IFNOT> 
  </table>
  <input type="submit" value="vyhledat"/><div style="float: right;">A - ANO, N - NE, X - ZRUŠIT VÝBĚR</div>
</form>

<p>(<TMPL_VAR begin> - <TMPL_VAR end> / <TMPL_VAR count>) 
<TMPL_IF prev><a href="/admin?action=reportcs&page=0&<TMPL_VAR url_par>">|&lt; první</a></TMPL_IF> 
<TMPL_IF prev><a href="/admin?action=reportcs&page=<TMPL_VAR prev>&<TMPL_VAR url_par>">&lt; předchozí</a></TMPL_IF>&nbsp;&nbsp; 
<a href="/admin?action=reportcs&page=<TMPL_VAR next>&<TMPL_VAR url_par>">další &gt;</a> 
<a href="/admin?action=reportcs&page=<TMPL_VAR last>&<TMPL_VAR url_par>">poslední &gt;| </a>
</p>

<table class="report" border="1">
<tr>
<td>
<TMPL_IF sort_id>
<a href="/admin?action=reportcs&page=0&<TMPL_VAR filtr>&sort=id"><strong>ID</strong> <img src="/editor/img/sort.png" /></a>
</TMPL_IF>
<TMPL_IFNOT sort_id>
<a href="/admin?action=reportcs&page=0&<TMPL_VAR filtr>&sort=id">ID <img src="/editor/img/sortno.png" /></a>
</TMPL_IFNOT>
</td>
<td>
<TMPL_IF sort_lemma>
<a href="/admin?action=reportcs&page=0&<TMPL_VAR filtr>&sort=lemma"><strong> LEMMA </strong> <img src="/editor/img/sort.png" /></a> 
</TMPL_IF>
<TMPL_IFNOT sort_lemma>
<a href="/admin?action=reportcs&page=0&<TMPL_VAR filtr>&sort=lemma"> LEMMA <img src="/editor/img/sortno.png" /></a> 
</TMPL_IFNOT>
</td><td></td>
</tr>
<TMPL_LOOP report>
<tr>
<td><TMPL_VAR id></td>
<td> -&nbsp;

<a class="textlink" data-type="iframe" data-src="/cs?action=search&getdoc=<TMPL_VAR id>&amp;lang=cz&amp;empty=true" href="/cs?action=search&getdoc=<TMPL_VAR id>&amp;lang=cz"><strong><TMPL_VAR titlecs></strong></a>&nbsp;-  </td>

  <script type="text/javascript">
    $("#flowvideo<TMPL_VAR id>").on("click", function(
e) {
      flowplayer(this).pause();
      var container = $('<div/>');
      console.log(container);
      container.css('background', '#777 url(/media/videoczj/thumb/<TMPL_VAR location>/thumb.jpg) no-repeat');
      container.css('background-size', '360px 288px');
      container.flowplayer({
        autoPlay: true,
        autoBuffering: true,
        width: 360,
        height: 288,
        ratio: 0.8,
        playlist: [
          [{'flash': '/media/videoczj/<TMPL_VAR location>'}]
        ],
      });
      $.fancybox({
        content: container,
        width: 360,
        height: 288,
        scrolling: 'no',
        autoSize: false
      });
      flowplayer(container[0]).load([{'flash': '/media/videoczj/<TMPL_VAR location>'}]);
      flowplayer(container[0]).resume();
    });
  </script>

<td>
<TMPL_LOOP relations>
  <TMPL_IF target>
    <TMPL_VAR type>: 
<a target="_blank" href="/<TMPL_VAR target>?action=getdoc&tr=<TMPL_VAR tr>&id=<TMPL_VAR rlid>"><TMPL_VAR rmid></a>
  </TMPL_IF>
  <TMPL_IFNOT target>
    <TMPL_VAR type>: <TMPL_VAR rmid>
  </TMPL_IFNOT>  
  <input type="button" onclick="publish_relation('<TMPL_VAR entry_id>', '<TMPL_VAR meaning_id>', '<TMPL_VAR rmid>', '<TMPL_VAR type>', this)" value="schválit"/>
<form method="get" id="koment-<TMPL_VAR entry_id>-<TMPL_VAR meaning_id>-<TMPL_VAR type>-<TMPL_VAR rmid>">
<input type="hidden" name="location" value="vyznam<TMPL_VAR meaning_id>"/>
<input type="hidden" name="eid" value="<TMPL_VAR entry_id>"/>
<input name="koment" type="text" size="50"/><input type="button" value="komentovat" class="koment_button"/>
</form>
  <br/>
</TMPL_LOOP>
</td>
<TMPL_IF koment>
<td><span style="font-size: smaller;"><TMPL_VAR koment></span></td>
</TMPL_IF>
<td><TMPL_IFNOT ro><a target="_blank" href="/editorcs/?id=<TMPL_VAR id>"><img src="/editor/img/edit.png" title="editovat" /></a></TMPL_IFNOT></td>
</tr>
</TMPL_LOOP>
</table>

<p>(<TMPL_VAR begin> - <TMPL_VAR end> / <TMPL_VAR count>) 
<TMPL_IF prev><a href="/admin?action=reportcs&page=0&<TMPL_VAR url_par>">|&lt; první</a></TMPL_IF> 
<TMPL_IF prev><a href="/admin?action=reportcs&page=<TMPL_VAR prev>&<TMPL_VAR url_par>">&lt; předchozí</a></TMPL_IF>&nbsp;&nbsp;
<a href="/admin?action=reportcs&page=<TMPL_VAR next>&<TMPL_VAR url_par>">další &gt;</a> 
<a href="/admin?action=reportcs&page=<TMPL_VAR last>&<TMPL_VAR url_par>">poslední &gt;| </a>
</p>

  </div>
</body>
</html>
