<html>
  <head>
<title>Dictio - administrace</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/editor/css/font-awesome.min.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-common.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-search.css" type="text/css" rel="stylesheet"></link>
<link media="screen" href="/editor/css/czj-preview7-min.css" type="text/css" rel="stylesheet"></link>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext'/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" type="text/css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900&subset=latin,latin-ext" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="/editor/lib/jquery.min.js">//</script>
    <script src="/editor/lib/jquery-ui.js">//</script>
    <link rel="stylesheet" href="/editor/lib/jquery-ui.css"></link>
    <script src="/editor/lib/flowplayer.min.js">//</script>
    <script type="text/javascript" src="/media/fancybox/jquery.fancybox.pack.js">//</script>
    <link rel="stylesheet" href="/media/fancybox/jquery.fancybox.css" type="text/css" media="screen"></link>
    <link rel="stylesheet" href="/editor/lib/minimalist.css"></link>
    <script>
    $(document).ready(function() {
      $(".flowmouse").bind("mouseenter mouseleave", function(e) {
        flowplayer(this)[/ee/.test(e.type) ? "resume":"pause"]();
      });

      $('.koment_button').on('click', function() {
        var form = $(this).parent();
        var text = $('[name=koment]', form).val();
        var eid = $('[name=eid]', form).val();
        var loc = $('[name=location]', form).val();
        $.ajax({
          url: '/czj',
          data: {
            action: 'add_comment',
            entry: eid,
            box: loc,
            text: text,
            dict: 'czj',
          },
          success: function(response) {
          }
        });
      });
    });

    function publish_relation(entry, meaning, relation, type, button) {
      $.ajax({
        url: '/czj',
        data: {
          action: 'publish_relation',
          id: entry,
          meaning_id: meaning,
          type: type,
          rel_id: relation
        },
        success: function(response) {
          button.setAttribute('value', 'schváleno');
        }
      });
    }
    function publish(entry, type, button) {
      $.ajax({
        url: '/czj',
        data: {
          action: 'publish',
          id: entry,
          type: type,
        },
        success: function(response) {
          button.setAttribute('value', 'schváleno');
        }
      });
    }
    function publish_video(entry, button) {
      $.ajax({
        url: '/czj',
        data: {
          action: 'publish_video',
          id: entry,
        },
        success: function(response) {
          button.setAttribute('value', 'schváleno');
        }
      });
    }
    </script>
   <style>td {border-bottom: 1px solid #159C81;}
   tbody {border: 1px solid #159C81;}
   th {background-color: silver;}
  tr {border-bottom: 1px solid #159C81;}
  table.report td {border-bottom: 1px solid #159C81;}</style>   
</head>
<body>
<div class="czj-header-admin">
          <div class="czj-header-inner">
            <div class="czj-header-inner-left"><a href="/">WWW.DICTIO.INFO</a></div>
            <div class="alignright">
              <div class="czj-header-navig">
                 <ul>
                 <li><a href="/czj?action=page&amp;page=about">O slovníku</a></li><li><a href="/czj?action=page&amp;page=kontakt">Kontakt</a></li><li><a href="/czj?action=page&amp;page=napoveda">Nápověda</a></li>
                  <div class="czj-header-languages"><li><a href="/czj?action=page&amp;page=&amp;lang=en" style="color: #03C9A9;">ENG</a><a href="">CZ</a></li></div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="czj-dictionaries">
          <div class="czj-dictionaries-inner">
            <div style="float: left"><a href="/admin"><img src="editor/img/admin.png" title="Administrátorské nástroje" border="0"/> Administrátorské nástroje </a>
<br />                        <img src="editor/img/videa_list.png" border="0"/><strong>PŘEHLED VLOŽENÝCH VIDEÍ</strong>  </div>
            <div style="float:right">
            <a href="/czj?action=page"><img src="editor/img/dict.png" title="přejít na Slovník" border="0"/></a> <a href="#" onclick="logout()"><img src="editor/img/logout.png" title="Odhlásit" border="0"/></a>
           </div>

           
          </div>
        </div>
        <div class="czj-inner-wrapper" style="text-align: left;">

   
<br /><br />
<form method="get" action="/admin"><b>Filtr:</b><br />
  typ videa: <input type="hidden" name="action" value="report_video"/>
  <input type="hidden" name="filter" value="true"/>
  <TMPL_IF type_a>
    <label><input type="checkbox" checked="checked" value="1" name="type_a"/> A</label>,
  </TMPL_IF>
  <TMPL_IFNOT type_a>
    <label><input type="checkbox" value="1" name="type_a"/> A</label>, 
  </TMPL_IFNOT>
  <TMPL_IF type_b>
    <label><input type="checkbox" checked="checked" value="1" name="type_b"/> B</label>,
  </TMPL_IF>
  <TMPL_IFNOT type_b>
    <label><input type="checkbox" value="1" name="type_b"/> B</label>,
  </TMPL_IFNOT>
  <TMPL_IF type_d>
    <label><input type="checkbox" checked="checked" value="1" name="type_d"/> D</label>,
  </TMPL_IF>
  <TMPL_IFNOT type_d>
    <label><input type="checkbox" value="1" name="type_d"/> D</label>,
  </TMPL_IFNOT>
  <TMPL_IF type_k>
    <label><input type="checkbox" checked="checked" value="1" name="type_k"/> K</label>
  </TMPL_IF>
  <TMPL_IFNOT type_k>
    <label><input type="checkbox" value="1" name="type_k"/> K</label>
  </TMPL_IFNOT> <i>(A - čelní, B - boční video, D - výklad, K - kontextová citace)</i><br />
  autor:
  <select name="author">
    <TMPL_LOOP authors>
      <TMPL_IF selected>
       <option value="<TMPL_VAR authore>" selected="selected"><TMPL_VAR author></option>
      </TMPL_IF>
      <TMPL_IFNOT selected>
       <option value="<TMPL_VAR authore>"><TMPL_VAR author></option>
      </TMPL_IFNOT>
    </TMPL_LOOP>
  </select><br />zdroj:
  <select name="source">
    <TMPL_LOOP source>
      <TMPL_IF selected>
        <option value="<TMPL_VAR sourcee>" selected="selected"><TMPL_VAR source></option>
      </TMPL_IF>
      <TMPL_IFNOT selected>
        <option value="<TMPL_VAR sourcee>"><TMPL_VAR source></option>
      </TMPL_IFNOT>
    </TMPL_LOOP>
  </select><br />pracovní skupina:
  <select name="def_skup">
    <option value="" >--</option>
    <TMPL_IF def_skup_biologie><option value="biologie" selected="selected">biologie</option></TMPL_IF>
    <TMPL_IFNOT def_skup_biologie><option value="biologie">biologie</option></TMPL_IFNOT>
    <TMPL_IF def_skup_informatika><option value="informatika" selected="selected">informatika</option></TMPL_IF>
    <TMPL_IFNOT def_skup_informatika><option value="informatika">informatika</option></TMPL_IFNOT>
    <TMPL_IF def_skup_matematika><option value="matematika" selected="selected">matematika</option></TMPL_IF>
    <TMPL_IFNOT def_skup_matematika><option value="matematika">matematika</option></TMPL_IFNOT>
    <TMPL_IF def_skup_podnikani><option value="podnikani" selected="selected">podnikání</option></TMPL_IF>
    <TMPL_IFNOT def_skup_podnikani><option value="podnikani">podnikání</option></TMPL_IFNOT>
    <TMPL_IF def_skup_obecna><option value="obecna" selected="selected">obecná zásoba</option></TMPL_IF>
    <TMPL_IFNOT def_skup_obecna><option value="obecna">obecná zásoba</option></TMPL_IFNOT>
    <TMPL_IF def_skup_teires_w><option value="teires_w" selected="selected">Teiresiás - pracovní</option></TMPL_IF>
    <TMPL_IFNOT def_skup_teires_w><option value="teires_w">Teiresiás - pracovní</option></TMPL_IFNOT>
    <TMPL_IF def_skup_upol><option value="upol" selected="selected">UP Olomouc</option></TMPL_IF>
    <TMPL_IFNOT def_skup_upol><option value="upol">UP Olomouc</option></TMPL_IFNOT>
    <TMPL_IF def_skup_all><option value="all" selected="selected">bez omezení</option></TMPL_IF>
    <TMPL_IFNOT def_skup_all><option value="all">bez omezení</option></TMPL_IFNOT>
  </select>
  <br/>stav videa:
  <select name="status">
    <TMPL_IF status_hidden><option value="hidden" selected="selected">skryté</option></TMPL_IF>
    <TMPL_IFNOT status_hidden><option value="hidden">skryté</option></TMPL_IFNOT>
    <TMPL_IF status_published><option value="published" selected="selected">schválené</option></TMPL_IF>
    <TMPL_IFNOT status_published><option value="published">schválené</option></TMPL_IFNOT>
    <TMPL_IF status_all><option value="all" selected="selected">všechna</option></TMPL_IF>
    <TMPL_IFNOT status_all><option value="all">všechna</option></TMPL_IFNOT>
  </select>

  <div align="right"><input type="submit" value="zobrazit"/></div>
</form>

<p><TMPL_VAR begin> - <TMPL_VAR end>,  / <TMPL_VAR count>   
<TMPL_IF prev><a href="/admin?action=report_video&page=<TMPL_VAR prev>&<TMPL_VAR url_par>">&lt;&lt; předchozí</a></TMPL_IF> 
<a href="/admin?action=report_video&page=<TMPL_VAR next>&<TMPL_VAR url_par>">&gt;&gt; další</a>
</p>

<table border="0">
<tbody>
<tr><th></th><th>video</th><th>label</th><th>v heslech / komentář</th></tr>
<TMPL_LOOP report>
<tr>
<td><em><TMPL_VAR location><br /><TMPL_VAR filename></em><br /><br />
</td>
<td>
<TMPL_IF is_flv>flv</TMPL_IF><TMPL_IF is_mp4>mp4</TMPL_IF>
<div id="flowvideo<TMPL_VAR id>" data-ratio="0.8" class="flowplayer flowmouse" style="width:150px; background:#777 url(/media/videoczj/thumb/<TMPL_VAR location>/thumb.jpg) no-repeat; background-size: 150px 120px">
<video loop="loop">
<source type="video/mp4" src="/media/videoczj/<TMPL_VAR location>"></source>
</video>
  <script type="text/javascript">
    $("#flowvideo<TMPL_VAR id>").on("click", function(
e) {
      flowplayer(this).pause();
      var container = $('<div/>');
      console.log(container);
      container.css('background', '#777 url(/media/videoczj/thumb/<TMPL_VAR location>/thumb.jpg) no-repeat');
      container.css('background-size', '360px 288px');
      container.flowplayer({
        autoPlay: true,
        autoBuffering: true,
        width: 360,
        height: 288,
        ratio: 0.8,
        playlist: [
          [{'flash': '/media/videoczj/<TMPL_VAR location>'}]
        ],
      });
      $.fancybox({
        content: container,
        width: 360,
        height: 288,
        scrolling: 'no',
        autoSize: false
      });
      flowplayer(container[0]).load([{'flash': '/media/videoczj/<TMPL_VAR location>'}]);
      flowplayer(container[0]).resume();
    });
  </script>

</div>
</td>
<td><TMPL_VAR label>
<br/><input type="button" onclick="publish_video('<TMPL_VAR id>', this)" value="schválit"/>        
</td>
<td><TMPL_LOOP entries>
<a href="/czj?action=search&getdoc=<TMPL_VAR eid>"><TMPL_VAR eid></a>, 
<TMPL_IFNOT ro><a href="/editor/?id=<TMPL_VAR eid>"> editovat</a></TMPL_IFNOT>

 - <TMPL_VAR comment><br/>
<form method="get" id="koment-<TMPL_VAR mid>-<TMPL_VAR eid>">
<input type="hidden" name="location" value="<TMPL_VAR location>"/>
<input type="hidden" name="eid" value="<TMPL_VAR eid>"/>
<input name="koment" type="text" size="50"/><input type="button" value="komentovat" class="koment_button"/>
</form>
</TMPL_LOOP>
</td>
</tr>
</TMPL_LOOP>
</tbody>
</table>

</div>
</body>
</html>
