label {
  text-align: right;
}
.buttonbox {
  vertical-align: top;
}
#name-inputEl {
  min-width: 10em !important;
}
#class-labelCell  label {
  width: 80px !important;
  text-align: right;
}
.x-fieldset {
  margin-bottom: 1px;
  padding: 7px;
}

