<div data-ng-init="init()">

    <h2>{{dictionary.dict_name}} (DEBWrite)</h2>

    <a ng-href="#/newEntry/{{dictionary.dict_code}}" class="btn btn-primary pull-right" style="margin-bottom: 3rem; margin-top: -2rem;">Create entry</a>

    <p>Preview all: <span ng-repeat="template in dictionary.templates">
                        <a href="previewXSLT.html?all=true&dict_code={{dictionary.dict_code}}&entry_id={{entriesId}}&template_code={{template.code}}" target="_blank">{{template.name}}</a> |
                    </span>
                    <!--<span ng-repeat="htemplate in dictionary.htemplates">-->
                        <!--<a href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entriesId}}&template_code={{htemplate.code}}" target="_blank">{{htemplate.name}}</a> |-->
                    <!--</span>-->
    </p>

    <div class="form-group">
        <div class="col-sm-6">
            <input type="text" ng-model="searchTextEntry" name="searchTextEntry"
                   class="form-control" placeholder="Search in entry">
        </div>
    </div>
    <table st-table="entriesDisplayed" st-safe-src="entries" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="head">Entry</th>
            <th st-sort="author">Author</th>
            <th class="vtop">Last edit</th>
            <th class="vtop">XSLT Preview</th>
            <th class="vtop">Handlebars Preview</th>
            <th class="vtop">XML</th>
            <th class="text-right vtop">Action</th>
        </tr>
        <tr>
            <td><input st-search="head" placeholder="Search for entry . . ." class="form-control"/></td>
            <td><input st-search="author" placeholder="Search for author . . ." class="form-control"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        <tr ng-repeat="entry in entriesDisplayed">
            <td>
                <span ng-if="entry.publish == 'true'" style="color: #00CC00; font-weight:bold;">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <span ng-if="entry.publish != 'true'" style="color: #FF0000; font-weight:bold;">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </span>
                <a ng-if="defaultTemplate == null"
                   href="https://abulafia.fi.muni.cz:9050/{{dictionary.dict_code}}?action=get&entry_id={{entry.id}}&format=xml"
                   target="_blank">{{entry.head}}</a>
                <a ng-if="defaultTemplate != null && defaultTemplate.type == 'xslt'"
                   href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{defaultTemplate.code}}"
                   target="_blank">{{entry.head}}</a>
                <a ng-if="defaultTemplate != null && defaultTemplate.type == 'handlebar'"
                   href="previewHandlebar.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{defaultTemplate.code}}"
                   target="_blank">{{entry.head}}</a>
            </td>
            <td>{{entry.author}}</td>
            <td>{{entry.last_edit}}</td>
            <td class="rowlink-skip">
                <span ng-repeat="template in dictionary.templates">
                    <a href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{template.code}}" target="_blank">{{template.name}}</a> |
                </span>
            </td>
            <td class="rowlink-skip">
                <span ng-repeat="htemplate in dictionary.htemplates">
                    <a href="previewHandlebar.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{htemplate.code}}" target="_blank">{{htemplate.name}}</a> |
                </span>
            </td>
            <td class="rowlink-skip"><a
                    href="https://abulafia.fi.muni.cz:9050/{{dictionary.dict_code}}?action=get&entry_id={{entry.id}}&format=xml"
                    target="_blank">XML</a></td>
            <td class="text-right rowlink-skip">
                <a ng-href="#/newEntry/{{dictionary.dict_code}}/{{entry.id}}"
                   ng-if="dictionary.current_perm == 'm' || dictionary.current_perm == 'a' || dictionary.current_perm == 'e'"
                   type="button" class="btn  btn-xs btn-info" tooltip="Edit entry">
                    <i class="fa fa-pencil" aria-hidden="true"></i> <strong>Edit entry</strong>
                </a>
                <a ng-click="removeEntry($event, entry.id)"
                   ng-if="dictionary.current_perm == 'm' || dictionary.current_perm == 'a'"
                   class="btn btn-xs btn-danger" tooltip="Remove entry">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="50" st-displayed-pages="10"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

