body {
background: #ffffff;
color: #000000;
}
.red {
color: #ff0000;
}
.green {
color: #007700;
}
.darkred {
color: #770000;
}
.darkblue {
color: #000088;
}
.head {
  font-size: 150%;
}
.small {
  font-size: 75%;
}
.sense {
  font-style: italic;
color: #000088;
}
h1 {
  font-size: 130%;
}
.trans {
color: #007700;
       font-size: 120%;
       font-weight: bold;
}
.semlink {
  list-style-type: none;
}
