label {
  text-align: right;
}
.buttonbox {
  vertical-align: top;
}
#lemma-inputEl {
  min-width: 15em !important;
}
#class-labelCell  label {
  width: 80px !important;
  text-align: right;
}
.x-fieldset {
  margin-bottom: 1px;
  padding: 7px;
}
.x-form-item-label {
  font-size: 14px;
}
.x-form-field {
  font-size: 14px;
}
.x-panel-header-text-default-framed {
  font-size: 15px;
}
.x-fieldset-header {
  font-size: 14px;
}
