<html>
<head><title>Progress report</title>
<base href="<TMPL_VAR basehref>"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="files/surnames.css" type="text/css"/>
</head>
<body>
<h1>Progress report</h1>
<form method="/surnames" method="get">
<input type="hidden" name="action" value="progress"/>
<input type="hidden" name="dict" value="surnames"/>
Main list: Range start: <input type="text" size="5" name="namefrom"/>
end: <input type="text" size="5" name="nameto"/>
<input type="submit" value="Show progress"/>
</form>
<form method="/surnames" method="get">
<input type="hidden" name="action" value="progress"/>
<input type="hidden" name="dict" value="res1881"/>
1888 reserve: Range start: <input type="text" size="5" name="namefrom"/>
end: <input type="text" size="5" name="nameto"/>
<input type="submit" value="Show progress"/>
</form>

<TMPL_IF data>

<p><b><TMPL_VAR dict>, Range: <TMPL_VAR namefrom> - <TMPL_VAR nameto></b>
<br/>Number of entries: <TMPL_VAR entrycount>
<br/>with more than one sense: <TMPL_VAR moresense>
(<TMPL_LOOP sensecounts>
<TMPL_VAR count> x <TMPL_VAR senses> senses, 
</TMPL_LOOP>)
</p>

<p><b>STATUS</b><br/>
Main entries: <TMPL_VAR status_me> (<TMPL_VAR status_meri> of them RI)<br/>
Variants: <TMPL_VAR status_var> (<TMPL_VAR status_varri> of them RI)<br/>
NEW: <TMPL_VAR status_new><br/>
Other: <TMPL_VAR status_other>
</p>

<p><b>PROGRESS</b><br/>
Ready: <TMPL_VAR progress_r> (with query: <TMPL_VAR progress_q>, <TMPL_VAR progress_qri> of them RI)<br/>
WIP: <TMPL_VAR progress_wip> (<TMPL_VAR progress_wipri> of them RI)<br/>
Not yet started: <TMPL_VAR progress_nys><br/>
Other: <TMPL_VAR progress_other>
</p>

<p><b>Comment</b><br/>
Investigate: <TMPL_VAR progress_inv><br/>
Research: <TMPL_VAR progress_res><br/>
</p>
</TMPL_IF>
</body>
</html>
