<html>
<head>
  <title>Edit sources</title>
<base href="<TMPL_VAR basehref>"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="files/surnames.css" type="text/css"/>
  <script type="text/javascript" src="files/textedit.js"> </script>
  <script type="text/javascript" src="files/sm/subModal/submodalsource.js"> </script>
  <link rel="stylesheet" href="files/sm/subModal/submodal.css" type="text/css"/>
</head>
<body>
<h2>Edit sources</h2>

<table>
<tr>
<td>Type</td>
<td>Short title</td>
<td>Reaney abbr.</td>
<td>Full reference</td>
</tr>
<TMPL_LOOP books>
<form method="post" action="surnames">
<input type="hidden" id="id" name="id" value="<TMPL_VAR id>"/>
<input type="hidden" name="action" value="update_source"/>
<input type="hidden" name="redir" value="<TMPL_GLOBAL redir>"/>
<tr id="row<TMPL_VAR count>">
<td class="sourcetypetd">
  <select class="typeselect" onchange="document.getElementById('type').value=this.value;">
    <option value="" selected="selected"></option>
    <option value="primary">primary</option>
    <option value="secondary">secondary</option>
    <option value="specific">specific</option>
  </select>
  <input  class="sourcetype" type="text" id="type" name="type" value="<TMPL_VAR type>"/>
</td>
<td class="editshort">
  <input type="text" id="short" name="short" value="<TMPL_VAR short>"/>
  <img src="files/icon_special.png" title="Special character" class="button_img" onclick="insert_char('short');"/>
</td>
<td class="editabbr"><input type="text" disabled="true" id="abbr" name="abbr" value="<TMPL_VAR abbr>"/></td>
<td class="editfull">
  <!--<input type="text" id="full" name="full" value="<TMPL_VAR full>"/>-->
<textarea rows="6" cols="50" id="full" name="full" wrap="soft"><TMPL_VAR full></textarea>
  <img src="files/icon_special.png" title="Special character" class="button_img" onclick="insert_char('full');"/>
  <img src="files/icon_italic.png" title="Italics" class="button_img" onclick="insert_i('full');"/>
</td>
<td><input type="submit" value="Save"/></td>
</tr>
</form>
</TMPL_LOOP>
</table>

Use this only to edit the source short title or full reference in whole database.


<br/><br/>
<button onclick="window.close()">close window</button>

</body>
</html>
