<html>
<head>
  <title>Bibliography</title>
<base href="<TMPL_VAR basehref>"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="files/surnames.css" type="text/css"/>
</head>
<body>
<h2>Bibliography</h2>

<a href="surnames">main page</a><br/>
<a href="/surnames/?action=oup_sources&sort=1">proper sort</a>
<TMPL_LOOP books>
<p>
<b><TMPL_VAR short>: </b>
<TMPL_VAR full>
<TMPL_IF sub>
<ul>
<TMPL_LOOP sub>
	<li><b><TMPL_VAR short>: </b>
	<TMPL_VAR full>
	</li>
</TMPL_LOOP>
</ul>
</TMPL_IF>
</p>
</TMPL_LOOP>

</body>
</html>
