<html>
<head>
<TMPL_IF is_dafn2>
<title>DAFN2 Entry List</title>
</TMPL_IF>
<TMPL_IF is_dafn2quar>
<title>DAFN2 Quarantine</title>
</TMPL_IF>
<TMPL_IF is_dafn2res>
<title>DAFN2 Reserve List</title>
</TMPL_IF>

<base href="/<TMPL_VAR path>"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel='stylesheet' href='files/dafn2.css' type='text/css'/>
  <script type="text/javascript" src="files/list.js"> </script>
<script type="text/javascript">
var is_list_window = true;
function box_clear(box, defval) {
  if (box.value == defval) {
    box.value = '';
    box.className = '';
  }
}
</script>

</head>
<body onload="onload_list()">

<TMPL_IF is_dafn2>
<span id="toggle_button">
<form method="get" action="/dafn2res" style="display:inline">
<input type="submit" value="Reserve"/>
</form>
<form method="get" action="/dafn2quar" style="display:inline">
<input type="submit" value="Quarantine"/>
</form>
<a href="/dafn2?action=cluster&id=" target="_blank">add new surname</a>
| <a href="/dafn2?action=replace">replace</a>
</span>
<h2>DAFN2 Entry List</h2>
</TMPL_IF>
<TMPL_IF is_dafn2quar>
<span id="toggle_button">
<form method="get" action="/dafn2" style="display:inline">
<input type="submit" value="Main list"/>
</form>
<form method="get" action="/dafn2res" style="display:inline">
<input type="submit" value="Reserve"/>
</form>
<a href="/dafn2quar?action=cluster&id=" target="_blank">add new surname</a>
| <a href="/dafn2quar?action=replace">replace</a>
</span>
<h2>DAFN2 Quarantine</h2>
</TMPL_IF>
<TMPL_IF is_dafn2res>
<span id="toggle_button">
<form method="get" action="/dafn2" style="display:inline">
<input type="submit" value="Main list"/>
</form>
<form method="get" action="/dafn2quar" style="display:inline">
<input type="submit" value="Quarantine"/>
</form>
<a href="/dafn2res?action=cluster&id=" target="_blank">add new surname</a>
| <a href="/dafn2res?action=replace">replace</a>
</span>
<h2>DAFN2 Reserve List</h2>
</TMPL_IF>

<form method="get" action="/<TMPL_VAR path>">
<input type="hidden" name="action" value="list"/>
<table id="search_param">
<tr>
<td class="search_row">
  <input type="text" name="hw" value='surname...' class='fill' onfocus='box_clear(this, &apos;surname...&apos;);' onkeyup="switch_regex(this);"/>
  <select name='where_hw'>
    <option value='start' selected='selected'>starts</option>
    <option value='cont'>contains</option>
    <option value='end'>ends</option>
    <option value='regexp'>RegExp</option>
  </select>
  ||
  <input style="width:20em;" type='text' name='search' value='search...' class='fill' onfocus='box_clear(this, &apos;search...&apos;);' />
  <select name='where_search'>
    <option value='all'>all</option>
    <option value='expl'>expl.</option>
    <option value='prelim'>preamble</option>
    <option value='history'>history</option>
    <option value='fore'>forenames</option>
    <option value='editors'>editors</option>
    <option value='comment'>requests</option>
    <option value='musings'>musings</option>
  </select>
  ||
  contributor
  <select name="contrib">
    <option value="">-</option>
    <option value="boullon">aib</option>
    <option value="crook">alc</option>
    <option value="beider">axb</option>
    <!--<option value="cieslikowa">axc</option>-->
    <option value="horace">cxc</option>
    <option value="marcato">cxm</option>
    <option value="parkin">dhp</option>
    <!--<option value="dcole">djc</option>-->
    <!--<option value="brozovic">dxb</option>-->
    <option value="kremer">dxk</option>
    <option value="moldanova">dxm</option>
    <option value="tomescu">dxt</option>
    <option value="bramwell">esb</option>
    <!--<option value="caffarelli">exc</option>-->
    <option value="gentry">exg</option>
    <option value="brady">fxb</option>
    <option value="berkel">gvb</option>
    <option value="chetwood">jac</option>
    <!--<option value="freeman">jxf</option>-->
    <option value="kilpatrick">kak</option>
    <option value="wilmotte">kmw</option>
    <option value="hardcastle">kph</option>
    <option value="brouwer">lsb</option>
    <option value="ryman">lxr</option>
    <option value="munro">mxm</option>
    <option value="picard">mxp</option>
    <option value="veka">oxv</option>
    <!--<option value="taylor">pjt</option>-->
    <!--<option value="salaberri">psz</option>-->
    <option value="patrick">pwh</option>
    <option value="durco">pxd</option>
    <option value="swoboda">pxs</option>
    <option value="gregory">rkg</option>
    <option value="marshall">rxm</option>
    <!--<option value="rcampbell">rjc</option>-->
    <option value="lenarcic">sxl</option>
    <option value="urvashi">urv</option>
  </select> || <label><input type="checkbox" name="approved" value="true"/>approved</label>
  || <label><input type="checkbox" name="mmcheck" value="true"/>MM checked</label>
  </td>
  <td>
<input type="button" value="+" onclick="add_search_row()"/>
<input type="submit" value="search"/>
</td>
</tr>
</table>
</form>

<ul>
<li><a href="/<TMPL_VAR path>?action=list&hw=A">A</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=A'">A'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Aa">Aa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ab">Ab</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ac">Ac</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ad">Ad</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ae">Ae</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Af">Af</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ag">Ag</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ah">Ah</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ai">Ai</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Aj">Aj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ak">Ak</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Al">Al</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Am">Am</a>
* <a href="/<TMPL_VAR path>?action=list&hw=An">An</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ao">Ao</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ap">Ap</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Aq">Aq</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ar">Ar</a>
* <a href="/<TMPL_VAR path>?action=list&hw=As">As</a>
* <a href="/<TMPL_VAR path>?action=list&hw=At">At</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Au">Au</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Av">Av</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Aw">Aw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ax">Ax</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ay">Ay</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Az">Az</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=B">B</a>
<br/><!--<a href="/<TMPL_VAR path>?action=list&hw=B'">B'</a>-->
<a href="/<TMPL_VAR path>?action=list&hw=Ba">Ba</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bb">Bb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bc">Bc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bd">Bd</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Be">Be</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bf">Bf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bg">Bg</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Bh">Bh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bi">Bi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bj">Bj</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bk">Bk</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Bl">Bl</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bm">Bm</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bn">Bn</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Bo">Bo</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bp">Bp</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bq">Bq</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Br">Br</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bs">Bs</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bt">Bt</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Bu">Bu</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bv">Bv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bw">Bw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Bx">Bx</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=By">By</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Bz">Bz</a>-->
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=C">C</a>
<br/><!--<a href="/<TMPL_VAR path>?action=list&hw=C'">C'</a>-->
<a href="/<TMPL_VAR path>?action=list&hw=Ca">Ca</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cb">Cb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cc">Cc</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Cd">Cd</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ce">Ce</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cf">Cf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cg">Cg</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Ch">Ch</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ci">Ci</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cj">Cj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ck">Ck</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Cl">Cl</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cm">Cm</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cn">Cn</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Co">Co</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cp">Cp</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cq">Cq</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Cr">Cr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cs">Cs</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Ct">Ct</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Cu">Cu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cv">Cv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cw">Cw</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Cx">Cx</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Cy">Cy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Cz">Cz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=D">D</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=D'">D'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Da">Da</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Db">Db</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Dc">Dc</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dd">Dd</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=De">De</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Df">Df</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dg">Dg</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Dh">Dh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Di">Di</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dj">Dj</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dk">Dk</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Dl">Dl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dm">Dm</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dn">Dn</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Do">Do</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dp">Dp</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dq">Dq</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Dr">Dr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ds">Ds</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dt">Dt</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Du">Du</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dv">Dv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dw">Dw</a>
<!--* <a href="/<TMPL_VAR path>?action=list&hw=Dx">Dx</a>-->
* <a href="/<TMPL_VAR path>?action=list&hw=Dy">Dy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Dz">Dz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=E">E</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Ea">Ea</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Eb">Eb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ec">Ec</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ed">Ed</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ee">Ee</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ef">Ef</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Eg">Eg</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Eh">Eh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ei">Ei</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ej">Ej</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ek">Ek</a>
* <a href="/<TMPL_VAR path>?action=list&hw=El">El</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Em">Em</a>
* <a href="/<TMPL_VAR path>?action=list&hw=En">En</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Eo">Eo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ep">Ep</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Er">Er</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Es">Es</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Et">Et</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Eu">Eu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ev">Ev</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ew">Ew</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ex">Ex</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ey">Ey</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ez">Ez</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=F">F</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Fa">Fa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fe">Fe</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ff">Ff</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fh">Fh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fi">Fi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fj">Fj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fl">Fl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fn">Fn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fo">Fo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fr">Fr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fu">Fu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fv">Fv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Fy">Fy</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=G">G</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Ga">Ga</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gb">Gb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ge">Ge</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gf">Gf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gh">Gh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gi">Gi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gj">Gj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gl">Gl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gm">Gm</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gn">Gn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Go">Go</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gr">Gr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gs">Gs</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gu">Gu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gw">Gw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Gy">Gy</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=H">H</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Ha">Ha</a>
* <a href="/<TMPL_VAR path>?action=list&hw=He">He</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hi">Hi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hj">Hj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hl">Hl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hn">Hn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ho">Ho</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hr">Hr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hs">Hs</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hu">Hu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hw">Hw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Hy">Hy</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=I">I</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=I'">I'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ia">Ia</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ib">Ib</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ic">Ic</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Id">Id</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ie">Ie</a>
* <a href="/<TMPL_VAR path>?action=list&hw=If">If</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ig">Ig</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ii">Ii</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ij">Ij</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ik">Ik</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Il">Il</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Im">Im</a>
* <a href="/<TMPL_VAR path>?action=list&hw=In">In</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Io">Io</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ip">Ip</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iq">Iq</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ir">Ir</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Is">Is</a>
* <a href="/<TMPL_VAR path>?action=list&hw=It">It</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iu">Iu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iv">Iv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iw">Iw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iy">Iy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Iz">Iz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=J">J</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Ja">Ja</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Je">Je</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Jh">Jh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ji">Ji</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Jo">Jo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ju">Ju</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=K">K</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Ka">Ka</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ke">Ke</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kh">Kh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ki">Ki</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kj">Kj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kl">Kl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Km">Km</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kn">Kn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ko">Ko</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kr">Kr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ks">Ks</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ku">Ku</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kv">Kv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Kw">Kw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ky">Ky</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=L">L</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=L'">L'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=La">La</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Le">Le</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Lh">Lh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Li">Li</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ll">Ll</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Lo">Lo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Lu">Lu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Lw">Lw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ly">Ly</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=M">M</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=M'">M'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ma">Ma</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mb">Mb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mc">Mc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Me">Me</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mh">Mh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mi">Mi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mj">Mj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mk">Mk</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ml">Ml</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mo">Mo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mr">Mr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mu">Mu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Mw">Mw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=My">My</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=N">N</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=Na">Na</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nd">Nd</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ne">Ne</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ng">Ng</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nh">Nh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ni">Ni</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nj">Nj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=No">No</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nu">Nu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nw">Nw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ny">Ny</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Nz">Nz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=O">O</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=O'">O'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oa">Oa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ob">Ob</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oc">Oc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Od">Od</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oe">Oe</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Of">Of</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Og">Og</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oh">Oh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oi">Oi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oj">Oj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ok">Ok</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ol">Ol</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Om">Om</a>
* <a href="/<TMPL_VAR path>?action=list&hw=On">On</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oo">Oo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Op">Op</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oq">Oq</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Or">Or</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Os">Os</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ot">Ot</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ou">Ou</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ov">Ov</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ow">Ow</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ox">Ox</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oy">Oy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Oz">Oz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=P">P</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Pa">Pa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pe">Pe</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pf">Pf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ph">Ph</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pi">Pi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pl">Pl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pn">Pn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Po">Po</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pr">Pr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ps">Ps</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pt">Pt</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Pu">Pu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Py">Py</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=Q">Q</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=R">R</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Ra">Ra</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Re">Re</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Rh">Rh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ri">Ri</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ro">Ro</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ru">Ru</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ry">Ry</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=S">S</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Sa">Sa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sb">Sb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sc">Sc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Se">Se</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sf">Sf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sg">Sg</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sh">Sh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Si">Si</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sj">Sj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sk">Sk</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sl">Sl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sm">Sm</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sn">Sn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=So">So</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sp">Sp</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sq">Sq</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sr">Sr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=St">St</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Su">Su</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sv">Sv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sw">Sw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sy">Sy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Sz">Sz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=T">T</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Ta">Ta</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Te">Te</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Th">Th</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ti">Ti</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tj">Tj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tk">Tk</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tl">Tl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=To">To</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tr">Tr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ts">Ts</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tu">Tu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tw">Tw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ty">Ty</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Tz">Tz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=U">U</a>
<br/><a href="/<TMPL_VAR path>?action=list&hw=U'">U'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ub">Ub</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uc">Uc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ud">Ud</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ue">Ue</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uf">Uf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ug">Ug</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uh">Uh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ui">Ui</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ul">Ul</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Um">Um</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Un">Un</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uo">Uo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Up">Up</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ur">Ur</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Us">Us</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ut">Ut</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uv">Uv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uy">Uy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Uz">Uz</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=V">V</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Va">Va</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ve">Ve</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vi">Vi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vl">Vl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vo">Vo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vr">Vr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vu">Vu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Vy">Vy</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=W">W</a>
<br/>
<a href="/<TMPL_VAR path>?action=list&hw=Wa">Wa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=We">We</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wh">Wh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wi">Wi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wl">Wl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wn">Wn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wo">Wo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wr">Wr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Ws">Ws</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wu">Wu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Wy">Wy</a>
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=X">X</a>
<!--<br/><a href="/<TMPL_VAR path>?action=list&hw=X'">X'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xa">Xa</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xb">Xb</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xc">Xc</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xd">Xd</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xe">Xe</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xf">Xf</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xg">Xg</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xh">Xh</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xi">Xi</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xj">Xj</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xk">Xk</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xl">Xl</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xm">Xm</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xn">Xn</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xo">Xo</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xp">Xp</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xq">Xq</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xr">Xr</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xs">Xs</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xt">Xt</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xu">Xu</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xv">Xv</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xw">Xw</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xx">Xx</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xy">Xy</a>
* <a href="/<TMPL_VAR path>?action=list&hw=Xz">Xz</a>-->
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=Y">Y</a>
<!--<br/><a href="/<TMPL_VAR path>?action=list&hw='">'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=a">a</a>
* <a href="/<TMPL_VAR path>?action=list&hw=b">b</a>
* <a href="/<TMPL_VAR path>?action=list&hw=c">c</a>
* <a href="/<TMPL_VAR path>?action=list&hw=d">d</a>
* <a href="/<TMPL_VAR path>?action=list&hw=e">e</a>
* <a href="/<TMPL_VAR path>?action=list&hw=f">f</a>
* <a href="/<TMPL_VAR path>?action=list&hw=g">g</a>
* <a href="/<TMPL_VAR path>?action=list&hw=h">h</a>
* <a href="/<TMPL_VAR path>?action=list&hw=i">i</a>
* <a href="/<TMPL_VAR path>?action=list&hw=j">j</a>
* <a href="/<TMPL_VAR path>?action=list&hw=k">k</a>
* <a href="/<TMPL_VAR path>?action=list&hw=l">l</a>
* <a href="/<TMPL_VAR path>?action=list&hw=m">m</a>
* <a href="/<TMPL_VAR path>?action=list&hw=n">n</a>
* <a href="/<TMPL_VAR path>?action=list&hw=o">o</a>
* <a href="/<TMPL_VAR path>?action=list&hw=p">p</a>
* <a href="/<TMPL_VAR path>?action=list&hw=q">q</a>
* <a href="/<TMPL_VAR path>?action=list&hw=r">r</a>
* <a href="/<TMPL_VAR path>?action=list&hw=s">s</a>
* <a href="/<TMPL_VAR path>?action=list&hw=t">t</a>
* <a href="/<TMPL_VAR path>?action=list&hw=u">u</a>
* <a href="/<TMPL_VAR path>?action=list&hw=v">v</a>
* <a href="/<TMPL_VAR path>?action=list&hw=w">w</a>
* <a href="/<TMPL_VAR path>?action=list&hw=x">x</a>
* <a href="/<TMPL_VAR path>?action=list&hw=y">y</a>
* <a href="/<TMPL_VAR path>?action=list&hw=z">z</a>-->
</li>
<li><a href="/<TMPL_VAR path>?action=list&hw=Z">Z</a>
<!--<br/><a href="/<TMPL_VAR path>?action=list&hw='">'</a>
* <a href="/<TMPL_VAR path>?action=list&hw=a">a</a>
* <a href="/<TMPL_VAR path>?action=list&hw=b">b</a>
* <a href="/<TMPL_VAR path>?action=list&hw=c">c</a>
* <a href="/<TMPL_VAR path>?action=list&hw=d">d</a>
* <a href="/<TMPL_VAR path>?action=list&hw=e">e</a>
* <a href="/<TMPL_VAR path>?action=list&hw=f">f</a>
* <a href="/<TMPL_VAR path>?action=list&hw=g">g</a>
* <a href="/<TMPL_VAR path>?action=list&hw=h">h</a>
* <a href="/<TMPL_VAR path>?action=list&hw=i">i</a>
* <a href="/<TMPL_VAR path>?action=list&hw=j">j</a>
* <a href="/<TMPL_VAR path>?action=list&hw=k">k</a>
* <a href="/<TMPL_VAR path>?action=list&hw=l">l</a>
* <a href="/<TMPL_VAR path>?action=list&hw=m">m</a>
* <a href="/<TMPL_VAR path>?action=list&hw=n">n</a>
* <a href="/<TMPL_VAR path>?action=list&hw=o">o</a>
* <a href="/<TMPL_VAR path>?action=list&hw=p">p</a>
* <a href="/<TMPL_VAR path>?action=list&hw=q">q</a>
* <a href="/<TMPL_VAR path>?action=list&hw=r">r</a>
* <a href="/<TMPL_VAR path>?action=list&hw=s">s</a>
* <a href="/<TMPL_VAR path>?action=list&hw=t">t</a>
* <a href="/<TMPL_VAR path>?action=list&hw=u">u</a>
* <a href="/<TMPL_VAR path>?action=list&hw=v">v</a>
* <a href="/<TMPL_VAR path>?action=list&hw=w">w</a>
* <a href="/<TMPL_VAR path>?action=list&hw=x">x</a>
* <a href="/<TMPL_VAR path>?action=list&hw=y">y</a>
* <a href="/<TMPL_VAR path>?action=list&hw=z">z</a>-->
</li>
</ul>

</body>
</html>
