<html>
<head><title>management</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>DEB2 admin</h1>

<ul>
<li><a href="/admin?action=changepass">change my password</a></li>
<TMPL_IF admin>
  <li><a href="/admin?action=listservs">services</a></li>
	<li><a href="/admin?action=listdicts">dictionaries</a></li>
	<li><a href="/admin?action=listusers">users</a></li>
	<li><a href="/admin?action=dump">dump dictionary</a></li>
	<li><a href="/admin?action=import">import dictionary</a></li>
	<li><a href="/admin?action=listseq">sequences</a></li>
	<li><a href="/admin?action=listlock">locks</a></li>
	<li><a href="/admin?action=upload">upload</a></li>
</TMPL_IF>
</ul>

</body>
</html>
