<html>
<head><title>browse</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>browse <TMPL_VAR dir></h1>

<p><a href="/admin">admin</a></p>

<TMPL_IF noaccess>
         <p><b><font color='RED'>Error:</font> No rights.</b></p>
</TMPL_IF>

<ul>
<TMPL_LOOP files>
	<TMPL_IF isdir>
		<li><a href="/admin?action=browse&dir=<TMPL_VAR file>"><TMPL_VAR file></a></li>
	</TMPL_IF>
	<TMPL_IFNOT isdir>
		<li><a href="/admin?action=showfile&file=<TMPL_VAR file>&dir=<TMPL_GLOBAL dir>"><TMPL_VAR file></a></li>
	</TMPL_IFNOT>
</TMPL_LOOP>
</ul>

</body>
</html>
