
      body, html { font-family:helvetica,arial,sans-serif; font-size:90%; }
      html, body { width: 100%; height: 100%; margin: 0; }
      #main { width: 100%; height: 100%; }
      #copy {
        float: right;
      }
      .menuoption img {
        margin-right: 3px;
        vertical-align: middle;
      }
      .menuoption {
      font-size: 120%;
      }
      .menu-gslov {
        font-weight: bold;
      }

      .menu-cod11 {
      color: black;
             font-weight: bold;
      }
      
      .menu-ode {
      color: black;
             font-weight: bold;
      }
      
      .menu-ote {
      color: black;
             font-weight: bold;
      }
      
      .menu-slvdict {
      color: black;
             font-weight: bold;
      }
      
      .menu-crd, .menu-mas {
      color: black;
             font-weight: bold;
      }
      
      .menu-diderot {
      color: #8a0d00;
             font-weight: bold;
      }
      
      .menu-google {
      color: #1849b5;
             font-weight: bold;
      }
      
      .menu-answers {
      color: #003399;
             font-weight: bold;
      }
      
      .menu-wikipedia {
      color: #08070c;
             font-weight: bold;
      }
      
      .menu-seznam {
      color: #e60202;
             font-weight: bold;
      }
      
      .menu-cia {
      color: #a55a32;
             font-weight: bold;
      }
      
      .menu-map {
      color: #48811a;
             font-weight: bold;
      }
      
      .menu-ajka {
      }


#search_query {
  width: 15em;
  height: 2em;
  font-size: 120%;
}
#dict_list {
}
#search_button {
  font-size: 120%;
  font-weight: bold;
  background-image: url('icons/search.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}

#copy {
  font-size: 110%;
}
#copy a:visited, #copy a {
  color: blue;
}
.search_toolbar {
  padding: 10px 30%;
}
